<label class="cursor-pointer label">
    <span class="label-text text-left w-10/12 font-medium">{{widget.attrs.label}}</span>
    <input type="checkbox" name="{{widget.name}}" class="checkbox checkbox-primary" {% if widget.attrs.checked %} checked {% endif %}>
</label>