{% load static %}
<br>
<label class="cursor-pointer label">
    <span class="label-text font-medium">Souhlasím s podmínkami zpracování osobních údajů</span>
    <input type="checkbox" name="{{widget.name}}" class="checkbox checkbox-primary" {% if widget.attrs.checked %} checked {% endif %}>
</label>
<a target="_blank" href="{{ widget.attrs.gdpr_url }}" class="my-1 btn btn-block">Přečíst GDPR</a>