<div class="form-control w-full mb-1">
    <label class="cursor-pointer label pb-1">
        <span class="label-text font-medium">{{widget.attrs.label}}</span><br>
    </label>
    <input class="input input-bordered w-full {{ widget.attrs.secondary_class }}" autocomplete="off" type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}" {% endif %} {% include "django/forms/widgets/attrs.html" %}>
</div>