<div class="relative">
    <input id="{{ widget.name }}" class="input input-bordered my-2 w-full" autocomplete="off" type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}" {% endif %} placeholder="{{ widget.attrs.label }}" {% include "django/forms/widgets/attrs.html" %}>
    <div class="w-fit absolute right-0 top-0 h-full pr-4 flex items-center">
        <i class="fas fa-eye cursor-pointer text-gray-400" id="{{ widget.name }}-show" onclick="cmp.show_password('{{ widget.name }}')"></i>
        <i class="fas fa-eye-slash cursor-pointer text-gray-400" style="display: none;" id="{{ widget.name }}-hide" onclick="cmp.hide_password('{{ widget.name }}')"></i>
    </div>
</div>