<div class="form-control max-w-xs">
<label class="label">
    <span class="label-text">Barva:</span>
</label>
<select id="{{widget.attrs.id}}-tag-klass" class="my-4 select select-bordered select-sm">
{% for color, klass in colors%}
<option value="{{klass}}">{{color}}</option>
{% endfor %}
</select>

<input id="{{widget.attrs.id}}-tag-name" type="text" placeholder="tag" class="my-4 input input-sm input-bordered w-full max-w-xs">

<submit class="btn btn-secondary btn-xs my-4" onclick="add_tag('{{widget.attrs.id}}');">přidat</submit>

<div id="{{widget.attrs.id}}-tag-list" class="my-4">
</div>

<textarea id="{{widget.attrs.id}}-text" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
    {% if widget.value %}{{ widget.value }}{% endif %}</textarea>

<script>
    function add_tag(id) {
        var tag = $('#{{widget.attrs.id}}-tag-name').val().trim();
        var klass = $('#{{widget.attrs.id}}-tag-klass').val();
        if (tag.trim() == "") return false;
        value = $('#'+id+'-text').text().trim()
        $('#'+id+'-text').text(value + (value ? "," : "") + tag + "#" + klass);
        print_tags(id);
        return false;
    }

    function remove_tag(i, id) {
        var tag_string = $('#'+id+'-text').val();
        var arr = tag_string.split(',');
        arr.splice(i, 1);
        $('#'+id+'-text').text(arr.join(','));
        print_tags(id);
    }

    function print_tags(id) {
        $('#'+id+'-tag-list').empty()
        var tag_string = $('#'+id+'-text').val();


        var tags = tag_string.trim().split(',').filter(x=>x.length>0);
        for (var i = 0; i < tags.length; i++) {
            var parts = tags[i].split('#');

            var cross = '<svg xmlns="http://www.w3.org/2000/svg" onclick="remove_tag('+i+','+"'{{widget.attrs.id}}'"+');" fill="none" viewBox="0 0 24 24" class="mr-1 cursor-pointer inline-block w-4 h-4 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>';
            $('#'+id+'-tag-list').append(
                [
                    "<span class='tag-",
                    i,
                    " mr-1 badge badge-",
                    parts[1].trim(),
                    "'>",
                    cross+parts[0].trim(),
                    "</span>"
                ].join("")
            );
        }
    }

    print_tags('{{widget.attrs.id}}');
</script>
</div>