{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
<link rel="stylesheet" type="text/css" href="{% static "build/main.css" %}">
<link href="{% static 'core/fonts/font-awesome/css/all.css' %}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.14.305/pdf.min.js"></script>
<link rel="icon" href="{% static 'core/img/brkosak_grey.svg' %}">
{% if not is_popup and is_nav_sidebar_enabled %}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/nav_sidebar.css" %}">
  <script src="{% static 'admin/js/nav_sidebar.js' %}" defer></script>
{% endif %}
{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
<script src="{% static "build/main.js" %}"></script>
<script>
  var CSRF_TOKEN = "{{ csrf_token }}";
</script>
{% block extrahead %}{% endblock %}
{% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
{% include 'core/parts/latex.html' %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding">
        {% block branding %}{% endblock %}
        </div>
        {% block usertools %}
        {% if has_permission %}
        <div id="user-tools">
            {% block welcome-msg %}
                {% translate 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                {% if site_url %}
                    <a href="{{ site_url }}">{% translate 'View site' %}</a> /
                {% endif %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> /
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>
            {% endblock %}
        </div>
        {% endif %}
        {% endblock %}
        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->


    {% if user.is_staff %}
    <div class="bg-base-100 w-full">
        <div class="float-right mx-10">
    <a class="btn btn-secondary my-4 mx-4 normal-case text-l" href="/admin/dump">Exportovat data</a>
    <a class="btn btn-secondary my-4 mx-4 normal-case text-l" href="{% url 'load-data' %}{% if is_popup %}?_popup=1{% endif %}">
        Importovat data
    </a>
        </div>
    </div>
    {% endif %}


    {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}

    <div class="main shifted" id="main">
      {% if not is_popup and is_nav_sidebar_enabled %}
        {% block nav-sidebar %}
          {% include "core/parts/nav_sidebar.html" %}
        {% endblock %}
      {% endif %}
      <div class="content">
        {% block messages %}
          {% if messages %}
            <ul class="messagelist">{% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
          {% endif %}
        {% endblock messages %}
        <!-- Content -->
        <div id="content" class="{% block coltype %}colM{% endblock %}">
          {% block pretitle %}{% endblock %}
          {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
          {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
          {% endblock %}
          {% block sidebar %}{% endblock %}
          <br class="clear">
        </div>
        <!-- END Content -->
        {% block footer %}<div id="footer"></div>{% endblock %}
      </div>
    </div>
</div>

<!--<div id="over" style="z-index: 20; background-color: #eee; width: 100%; position: absolute; top: 0; display: none">
  <div style="position: absolute; top: 0; right: 0; font-size: 40px; margin-right: 20px; cursor: pointer;" onclick="$('#over').hide()">&times;</div>
  <div style="width: 70%; height: 100%; padding: 15px">
    <iframe id="over_iframe" style="width: 100%; height: 100%;"></iframe>
  </div>
  <div style="position: absolute; top: 0; left: 70%; padding: 15px; width: 30%;">
    <h2 id="over_contestant" style="margin-top: 50px;"></h2>
    <h2 style="margin-bottom: 15px; margin-top: 30px;">Komentář</h2>
    <textarea style="resize: none; width: 100%; height: 150px; padding: 5px;"></textarea>
    <div class="btn btn-success" style="margin-top: 15px; width: 100%;" onclick="save_comment()">OK</div>
  </div>
</div>-->

<script>
  $(document).ready(function(){
      var clockboxes = $("[id^=clockbox]");
      for(var i=0; i < clockboxes.length; ++i)
          quickElement('a', quickElement('li', $(clockboxes[i]).children("ul")[0]),"Konec dne", 'href', '#', 'onclick', 'endday(event,'+i+')');
      
      $(".field-file_link a").attr("target","_blank");

      //$("#over").css("height",document.documentElement.scrollHeight+"px");
  });

  if(location.href.includes("/change/"))
  {
    setTimeout(function(){
      if(confirm("Již déle než pět minut jste neuložili rozpracované změny. Chcete je uložit nyní?"))
        $("input[name='_continue']").click();
    },300000);
  }

  /*load_preview = function(file,contestant)
  {
    $('#over').show();
    $('#over_iframe').attr("src",file);
    $('#over_contestant').text(contestant);
  }

  save_comment = function()
  {
    $('#over').hide();
  }*/

  endday = function(e,i)
  {
      e.preventDefault();
      d = new Date(1970, 1, 1, 23, 59, 59, 0);
      DateTimeShortcuts.clockInputs[i].value = d.strftime(get_format('TIME_INPUT_FORMATS')[0]);
      DateTimeShortcuts.clockInputs[i].focus();
      DateTimeShortcuts.dismissClock(i);
  }
</script>
<!-- END Container -->
</body>
</html>
