{% load extras %}
<article class="mx-0 sm:mx-auto card bg-base-200 shadow-inner text-base-content links-secondary">
    <div class="card-body">
        {% if contrib.title %}
        <h3 class="card-title inline-block">{{ contrib.title }} </h3>
        <div class="divider divider-thin mt-0"></div>
        {% endif %}
        <div class="w-full">
            <div class="font-light text-xs inline-block float-left">{{ contrib.created }} {% if contrib.author %}@{{ contrib.author.username }}{% endif %}</div>
            {% include "core/parts/tag_list.html" %}
        </div>
        {{ contrib.text | gen_file_refs | markdown_to_html | safe }}
    </div>
</article>
