{% load static %}

<!-- Footer -->
<footer class="p-10 text-center">
        <div class="divider">Popularizace vědy za podpory</div>
        <div class="container max-w-screen-lg mx-auto">
                
                <a href="https://www.jcmf.cz/" target="_blank"><img src="{% static 'core/img/jcmf.jpg' %}" class="m-10 h-24 inline-block"></a>
                <a href="https://www.msmt.cz/" target="_blank"><img src="{% static 'core/img/msmt.jpg' %}" class="m-10 h-24 inline-block"></a>
                <a href="https://www.math.muni.cz/" target="_blank"><img src="{% static 'core/img/muni-math.png' %}" class="m-10 h-24 inline-block"></a>
                
                <p class="text-center">
                Popularizace vědy a výzkumu v přírodních vědách a matematice s využitím potenciálu a finanční podporou Ústavu matematiky a statistiky Masarykovy univerzity, České matematické společnosti a Ministerstva školství, mládeže a tělovýchovy.
                </p>

                <p class="text-center links-primary mb-0"><a href="https://prostredoskolaky.muni.cz" target="_blank">Další soutěže a akce pro středoškoláky</a></p>
                
                <span class="font-medium">
                        <span class="mx-10 mt-8 mb-0 inline-block"><a href="{% url 'contest:about' %}">BRKOS Team {% now "Y" %} ©</a></span>
                        <span class="mx-10 mt-5 mb-0 inline-block" ><a href="https://www.instagram.com/brkos_ig/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i> @brkos_ig</a></span><br class="md:hidden">
                        <span class="mx-10 mt-5 mb-0 inline-block" ><a href="https://www.facebook.com/brkosMU" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i> @brkosMU</a></span><br class="md:hidden">
                        <span class="mx-10 mt-5 mb-10 inline-block" ><a href="mailto: brkos@math.muni.cz" target="_blank"><i class="far fa-envelope"></i> brkos@math.muni.cz</a></span>
                </span>
        </div>
</footer>