{% load static %}
{% load extras %}

{% for field in form.visible_fields %}
        {% if field.name == 'second_member' %}
            <p>1. člen: {{ request.user.full_name }}</p>
        {% endif %}

        {{ field }}
{% endfor %}

{% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-error my-1 text-left">
        {{field.label}}:<br>{{error}}
    </div>
    {% endfor %}        
{% endfor %}