{% load static %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<!-- <script id="MathJax-script" async src="{% static 'core/js/mathjax.js' %}"></script> -->
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<script>
window.MathJax = {
    tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        macros: {
            R: "\\mathbb{R}",
            N: "\\mathbb{N}",
            bold: ["{\\bf #1}", 1],
        },
    },
};
</script>
