{% load extras %}

<div id="my-modal" class="modal">
    <div class="modal-box">
        <a href="#" class="btn btn-circle btn-xs float-right" style="font-size: 1.25rem; line-height: 1rem;">&times;</a>
        <div id='login-form' class="links-secondary">
        </div>
        <script type="text/javascript">
            const elem = document.getElementById('login-form');
            cmp.spawn({% if request|namespace_prefix == "mathrace" %}cmp.LoginFormMathrace{% else %}cmp.LoginForm{% endif %}, elem);
        </script>
    </div>
</div>
