{% load i18n %}
<button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="{% translate 'Toggle navigation' %}"></button>
<nav class="sticky" id="nav-sidebar" style="max-height: inherit; border-right: 2px solid #eaeaea;">
  {% include 'admin/app_list.html' with app_list=available_apps show_changelinks=False %}
</nav>
