<a href="{% url 'test_mail' id=mail.id %}" title="Vyzkoušet na můj email">Test</a>
&ensp;
<a href="#" onclick="if(confirm('Opravdu chcete odeslat mail následujícím adresátům:{% for address in mail.recipients %}\n{{ address }}{% endfor %}')) location.href = '{% url 'send_mail' id=mail.id %}';">Odeslat</a>