{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script src="{% static "build/main.js" %}"></script>
<script>
  var CSRF_TOKEN = "{{ csrf_token }}";
  $(document).ready(function(){
    $(".field-file_link p a").attr("target","_blank");
  });
</script>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link href="{% static "core/fonts/font-awesome/css/all.css" %}" rel="stylesheet">
{% endblock %}
