<form id="collection-{{ collection.id }}-form" action="">
    <input id="collection-{{collection.id}}-file-type"
           type="text" style="display:none">
    <input id="collection-{{collection.id}}-file-dialog"
           type="file" style="display:none"
           onchange="cmp.upload_reload('#collection-{{collection.id}}-file-dialog', '{% url 'collection_file_upload_brkos' collection_id=collection.id %}?file_type='+$('#collection-{{collection.id}}-file-type').val())"/>
</form>

<table>
    <tr><th>Zadání</th><th>Pomocný text</th><th>Řešení</th><th>Výsledky</th></tr>
    <tr>
        <td style="min-width: 80px;"><a class="button" onclick="$('#collection-{{collection.id}}-file-type').val('assignment');$('#collection-{{collection.id}}-file-dialog').trigger('click');">
            <i class="fas fa-file-upload"></i></a>&ensp;
            {% if collection.assignment_pdf %}
            <a class="button" target="_blank" href={{collection.assignment_pdf.url}}><i class="fas fa-file-pdf"></i></a>
            {% endif %}
        </td>
        <td style="min-width: 80px;"><a class="button" onclick="$('#collection-{{collection.id}}-file-type').val('helptext');$('#collection-{{collection.id}}-file-dialog').trigger('click');">
            <i class="fas fa-file-upload"></i></a>&ensp;
            {% if collection.helptext_pdf %}
            <a class="button" target="_blank" href={{collection.helptext_pdf.url}}><i class="fas fa-file-pdf"></i></a>
            {% endif %}
        </td>
        <td style="min-width: 80px;"><a class="button" onclick="$('#collection-{{collection.id}}-file-type').val('solution');$('#collection-{{collection.id}}-file-dialog').trigger('click');">
            <i class="fas fa-file-upload"></i></a>&ensp;
            {% if collection.solution_pdf %}
            <a class="button" target="_blank" href={{collection.solution_pdf.url}}><i class="fas fa-file-pdf"></i></a>
            {% endif %}
        </td>
        <td style="min-width: 80px;"><a class="button" onclick="$('#collection-{{collection.id}}-file-type').val('scoreboard');$('#collection-{{collection.id}}-file-dialog').trigger('click');">
            <i class="fas fa-file-upload"></i></a>&ensp;
            {% if collection.scoreboard_pdf %}
            <a class="button" target="_blank" href={{collection.scoreboard_pdf.url}}><i class="fas fa-file-pdf"></i></a>
            {% endif %}
        </td>
    </tr>
</table>