<form id="{{ submission.id }}-form" action="">
    <input id="{{submission.id}}-file-dialog"
           type="file" style="display:none"
           onchange="cmp.upload('#{{submission.id}}-file-dialog', '{% url 'feedback_upload' submission_id=submission.id %}?file_type=')"/>
</form>

<table>
    <tr>
        <td><a class="button" onclick="$('#{{submission.id}}-file-dialog').trigger('click');">
            <i class="fas fa-file-upload"></i>
        </a></td>
    </tr>
    <tr>
        <td>{% if submission.feedback_file %}
            <a class="button" target="_blank" href={{submission.feedback_file.url}}><i class="fas fa-file-pdf"></i></a>
        {% endif %}</td>
    </tr>
</table>