<table class="table-all">
    <tr><th>Název</th><th></th><th>Datum nahrání</th></tr>
{% for file in files %}
<tr>
    <td>{{file.name}}</td><td><a target="_blank"  href="{{file.content.url}}">Náhled</a></td><td>{{file.created}}</td>
</tr>
{% endfor %}
</table>