{% if active_collection.is_open %}

    <script>
    $(()=>{
// Set the date we're counting down to
var countDownDate = new Date("{{ active_collection.close_date.isoformat }}").getTime();

// Update the count down every 1 second
var countDown = setInterval(function() {
  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;
  distance = distance < 0 ? 0 : distance;
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("days").innerHTML = days;
  document.getElementById("hours").innerHTML = hours;
  document.getElementById("minutes").innerHTML = minutes;
  document.getElementById("seconds").innerHTML = seconds;
}, 1000);
});
</script>
<div class="flex flex-col w-full">
  <div class="grid flex-grow h-24 place-items-center">
    <div class="grid grid-flow-col gap-5 text-center auto-cols-max">
      <div class="flex flex-col mr-6">
        <span class="font-mono text-5xl lg:text-6xl">
          <span id="days">0</span>
        </span>
            dní
      </div>
      <div class="flex flex-col mr-2">
        <span class="font-mono text-5xl lg:text-6xl">
          <span id="hours">0</span>
        </span>
            hodin
      </div>
      <div class="flex flex-col mr-2">
        <span class="font-mono text-5xl lg:text-6xl">
          <span id="minutes">0</span>
        </span>
            minut
      </div>
      <div class="flex flex-col">
        <span class="font-mono text-5xl lg:text-6xl">
          <span id="seconds">0</span>
        </span>
            sekund
      </div>
    </div>
  </div>
  <div class="w-full text-center text-2xl">do uzavření <a class="text-secondary" href="{% url 'contest:tasks_newest' %}">příští série</a></div>
</div>
{% else %}
{% endif %}


