{% load extras %}

<form method="POST" class="block mx-auto text-center max-w-sm">
    {% csrf_token %}
    <h1 class="my-10">Registrace</h1>

    {% if request|namespace_prefix == "mathrace" %}
        <div class="alert alert-info my-2 p-3 text-sm block text-justify">Neregistrujte se prosím zbytečně znovu. Můžete se <a href="{% url 'mathrace:login' %}" class="inline link-secondary">přihlásit</a> účtem od BRKOSu, příp. účtem z minulého roku.</div>
    {% else %}
        <div class="alert alert-warning my-2 p-3 text-sm block text-justify">Neregistrujte se prosím zbytečně znovu. Po přechodu na nový web zůstaly všechny uživatelské účty v platnosti.
        Pokud jste již na našem starém webu účet měli, pouze <a href="{% url 'contest:reset_password' %}" class="inline link-secondary">si prosím obnovte heslo</a>.</div>
    {% endif %}
    
    {% include 'core/parts/form.html' with form=registration_form %}
    
    {% if contestant_form %}
        <div class="divider">Škola</div>
        {% include 'core/parts/form.html' with form=contestant_form %}
    {% endif %}

    <button type="submit" class="btn my-10 btn-block btn-primary">Registruj se!</button>
</form>