{% load extras %}

<div class="task">
    <p>
        Úloha {{ task.name }}:
        {{ task.text | latex_to_html | safe }}
    </p>
    {% if task.sample_solution %}
    <p>
        Řešení:
        {{ task.sample_solution | latex_to_html | safe }}
    </p>
    {% endif %}

    {% if task.comment %}
    <p>
        Komentář:
        {{ task.comment | latex_to_html | safe }}
    </p>
    {% endif %}
</div>