{% load extras %}

<table class="w-full table my-10">
    <thead>
    <tr><th class="">Úloha</th><th class="">Náhled</th><th class="">Body</th><th class="">Komentář</th></tr>
    </thead>
    <tbody class="">
    {% for sub in submissions %}
    <tr class="item border-t-2 border-base-300">
        <td>{{sub.task}}</td>
        <td><a target="_blank" class="btn-primary btn btn-sm" href="{{sub.content.url}}"><i class="fa fa-file-pdf"></i></a></td>
        <td class="">{{sub.score|default_if_none:"?"}}</td>
        <td>
            {% if sub.feedback_file %}
            <a target="_blank" class="btn-accent btn btn-sm" href="{{sub.feedback_file.url}}"><i class="fa fa-file-pdf"></i></a>
            <br>
            {% endif %}
        </td>
    {% if sub.feedback_text %}
    <tr><td colspan="4" class="p-2 rounded-sm bg-base-200" class="font-math italic math-text">{{sub.feedback_text | gen_file_refs | markdown_to_html | safe}}</td></tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
{% if not old %}
    <p class="links-secondary"><a href="{% url 'contest:account_tagged' tag='old' %}">Zobrazit i řešení z minulých ročníků</a></p>
{% endif %}