{% load extras %}


<div class="card w-full bg-base-200 shadow-inner my-10 overflow-visible links-secondary">
    <div class="card-body w-full">
        <h4 class="font-bold">Úloha {{ task.name }}:</h4>
        <div class="font-math italic math-text">
            {{ task.text | gen_file_refs | markdown_to_html | safe }}
        </div>
        {% if task.online_submission %}
        <h4 class="font-bold mt-3">Moje řešení</h4>
            <div class="font-math italic math-text">
                <div id="submission_{{ task.order }}">{{ task.online_submission | gen_file_refs | markdown_to_html | safe }}</div>
            </div>
        {% endif %}
        {% if collection.release_solution %}
            <h4 class="font-bold mt-3"><a class="cursor-pointer" onclick="$('#solution_{{ task.order }}').toggle()">Řešení</a></h4>
            <div class="font-math italic math-text">
                <div id="solution_{{ task.order }}" class="hidden">{{ task.model_solution | gen_file_refs | markdown_to_html | safe }}</div>
            </div>
                {% if task.comment %}
                    <h4 class="font-bold mt-3"><a class="cursor-pointer" onclick="$('#comment_{{ task.order }}').toggle()">Komentář</a></h4>
                    <div class="font-math italic math-text">
                        <div id="comment_{{ task.order }}" class="hidden">{{ task.comment | gen_file_refs | markdown_to_html | safe }}</div>
                    </div>
                {% endif %}
        {% endif %}

        <div class="card-actions justify-end flex-col md:flex-row">
            {% if task.online_submission %}
                <div class="btn btn-secondary btn-outline mr-3 ml-0" onclick="window.open('{% url 'contest:user_submission_write' contest_order=contest.order collection_order=collection.order task_order=task.order %}');">
                    Upravit řešení <i class="fas fa-pen ml-4"></i>    
                </div>
            {% endif %}
            {% if task.submission_url %}
                <div onclick="window.open('{{ task.submission_url }}');" class="btn btn-secondary btn-outline mr-3 ml-0">
                    Nahrané řešení <i class="fas fa-file-alt ml-4"></i>
                </div>
                <div class="btn border-error text-error hover:bg-error hover:text-base-100 hover:border-error btn-outline mr-3 ml-0" onclick="cmp.request_reload('{% url 'contest:user_submission_delete' contest_order=contest.order collection_order=collection.order task_order=task.order %}')">
                    Smazat soubor <i class="fas fa-trash ml-4"></i>    
                </div>
            {% endif %}  

            {% if collection.is_open %}
                <form id="task-{{task.order}}-form" action="" class="hidden">
                    <input id="task-{{task.order}}-file-dialog"
                        type="file" style="display:none"
                        onchange="cmp.upload_reload('#task-{{task.order}}-file-dialog', '{% url 'contest:user_submission' contest_order=contest.order collection_order=collection.order task_order=task.order %}')"/>
                </form>

                {% if not user.is_authenticated %}
                <a class="btn btn-primary ml-0 hidden md:inline-flex" style="color: white; text-decoration: none;" href="#my-modal">
                    Odevzdat <i class="fas fa-file-import"></i>    
                </a>
                <a class="btn btn-primary ml-0 md:hidden" style="color: white; text-decoration: none;" href="{% url 'contest:login' %}?next=/tasks/">
                    Odevzdat <i class="fas fa-file-import"></i>    
                </a>
                {% elif user.to_be_verified %}
                <a class="btn btn-primary ml-0 inline-flex" style="color: white; text-decoration: none;" href="{% url 'contest:verification_info' %}">
                    Odevzdat <i class="fas fa-file-import"></i>    
                </a>
                {% else %}
                <div class="dropdown dropdown-end mx-0 hidden md:inline-block">
                    <label class="btn btn-primary" tabindex="0">Odevzdat <i class="fas fa-file-import"></i></label>
                    <ul class="dropdown-content menu shadow rounded-box w-44 bg-base-100" tabindex="0">
                        <li class="text-primary ml-0"><div class="btn btn-ghost leading-6 hover:bg-primary hover:text-base-100" style="padding: 12px" onclick="$('#task-{{task.order}}-file-dialog').trigger('click');">
                            Nahrát soubor <i class="fas fa-file-upload ml-4"></i>    
                        </div></li>
                        <li class="text-primary ml-0"><div class="btn btn-ghost leading-6 hover:bg-primary hover:text-base-100" style="padding: 12px" onclick="window.open('{% url 'contest:user_submission_write' contest_order=contest.order collection_order=collection.order task_order=task.order %}');">
                            Napsat řešení <i class="fas fa-pen ml-4"></i>    
                        </div></li>
                    </ul>
                </div>

                <div class="dropdown mx-0 md:hidden">
                    <label class="btn btn-primary" tabindex="0">Odevzdat <i class="fas fa-file-import"></i></label>
                    <ul class="dropdown-content menu shadow rounded-box w-44 bg-base-100" tabindex="0">
                        <li class="text-primary ml-0"><div class="btn btn-ghost leading-6 hover:bg-primary hover:text-base-100" style="padding: 12px" onclick="$('#task-{{task.order}}-file-dialog').trigger('click');">
                            Nahrát soubor <i class="fas fa-file-upload ml-4"></i>    
                        </div></li>
                        <li class="text-primary ml-0"><div class="btn btn-ghost leading-6 hover:bg-primary hover:text-base-100" style="padding: 12px" onclick="window.open('{% url 'contest:user_submission_write' contest_order=contest.order collection_order=collection.order task_order=task.order %}');">
                            Napsat řešení <i class="fas fa-pen ml-4"></i>    
                        </div></li>
                    </ul>
                </div>

                {% endif %}
            {% endif %}       
        </div>
    </div>
</div>
