{% load extras %}

<form method="POST" class="block mx-auto text-center max-w-sm">
    {% csrf_token %}
    <h1 class="my-10">Upravit údaje</h1>
    {% include 'core/parts/form.html' with form=account_form %}
    
    {% if contestant_form %}
        <div class="divider">Škola</div>
        {% include 'core/parts/form.html' with form=contestant_form %}
    {% endif %}

    <button type="submit" class="btn my-10 btn-block btn-primary">Uložit</button>
</form>