<form id="task-{{ task.id }}-form" action="">
    <input id="task-{{ task.id }}-file-dialog"
           type="file" style="display:none" name="files" multiple
           onchange="cmp.upload_files({{task.id}},'{% url 'multiple_upload' task_id=task.id %}')"/>
</form>

<a class="button" onclick="$('#task-{{ task.id }}-file-dialog').trigger('click');">
    <i class="fas fa-file-upload"></i>
</a>