{% extends "core/abstract_base.html" %}
{% load static %}
{% load extras %}

{% block body %}

<div>
    <div class="drawer">
        <input id="my-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content w-full overflow-x-hidden">
            {% with request|namespace_prefix|add:'/parts/navbar.html core/parts/navbar.html' as list %}
            {% include list.split %}
            {% endwith %}
            <main class="">
                {% block content %}{% endblock %}
            </main>
            {% with request|namespace_prefix|add:'/parts/footer.html core/parts/footer.html' as list %}
                {% include list.split %}
            {% endwith %}
        </div> 
        <div class="drawer-side h-screen">
            <label for="my-drawer" class="drawer-overlay"></label>
            {% with request|namespace_prefix|add:'/parts/menu.html core/parts/menu.html' as list %}
            {% include list.split %}
            {% endwith %}
        </div>
    </div>
</div>
{% if request.user.to_be_verified %}
<div class="w-screen fixed bottom-0 bg-error text-center text-white text-lg p-4">Váš uživatelský účet není ověřen. Pro plnohodnotné užívání je třeba jej <a class="cursor-pointer text-black hover:text-white" href="{% url 'verification_info'|prefix_reverse:request %}">ověřit</a>.</div>
{% endif %}
<script>
    math_font_on = true;
    $(document).ready(function(){
        $(".math-text").dblclick(function(){
            if(math_font_on)
            {
                $(".math-text").removeClass("font-math italic");
                math_font_on = false;
            }
            else
            {
                $(".math-text").addClass("font-math italic");
                math_font_on = true;
            }
        });
        $(".links-target-blank a").attr("target","_blank");
        $(".links-target-self a").attr("target","_self");
    });
</script>
{% endblock %}