{% load static %}
{% load extras %}

<!DOCTYPE html>
<html lang="cs" data-theme="{{ request|namespace_prefix }}">

<head>
    {% block head %}{% endblock %}
    <title>
        {% if request|namespace_prefix == "mathrace" %}
        MathRace
        {% else %}
        BRKOS
        {% endif %}
        {% block title %}{% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'build/main.css' %}">
    <link href="{% static 'core/fonts/font-awesome/css/all.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'core/img/brkosak_grey.svg' %}">
    <script type="text/javascript" src="{% static 'build/main.js' %}"></script>
    {% include 'core/parts/latex.html' %}
</head>

<body>
    <script>
    const CSRF_TOKEN = '{{csrf_token}}';
    </script>
{% block body %}
{% endblock %}
</body>

</html>