{% extends "core/base.html" %}

{% block title %} BRKOS Registrace {% endblock %}

{% block content %}
    {{ form.errors }}
    <form method="POST" class="form-group" action="{% url 'contest:register' %}">
	{% csrf_token %}

    <p>Login {{ form.username }}</p>

    {% if form.errors.email %} error {%  endif %}
	<p>Email {{ form.email }}</p>

    <p>Heslo {{ form.password1 }}</p>

	<p>Heslo znovu {{ form.password2 }}</p>
	<button type="submit" class="btn btn-success">Registruj se!</button>
    </form>
{% endblock %}