{% extends "core/base.html" %}
{% load extras %}
{% load static %}


{% block title %} fórum {% endblock %}

{% block content %}
<section class="center-block py-10">
        {% if not request.user.is_verified %}
        <div class="alert alert-warning">Do fóra může přispívat pouze přihlášený a ověřený uživatel.</div>
        {% endif %}

        <article class="max-w-screen-md mx-auto my-5 card compact bg-base-200 text-base-content shadow-inner relative">
            <div id="post-{{ thread.id }}" class="-my-20 absolute"></div>
            <div class="card-body">
                <h3 class="inline-block font-semibold">{{ thread.title }}</h3>
                <div class="divider divider-thin"></div>
                <div>
                    <div class="font-light text-xs inline-block float-left"> {{ thread.created }}
                    <span>{% if thread.author %}@{{ thread.author.username }}{% endif %}</span>
                    </div>
                </div>
                <div class="max-w-4/5">
                    {{ thread.text }}
                </div>
            </div>
        </article>

        
        <div class="divider divider-thin"></div>
  
        {% for post in thread.children.all %}

        {% include 'forum/parts/post_card.html' with post=post form_id=post.id %}

        <div class="ml-10">
        {% for comment in post.children.all %}
        {% include 'forum/parts/post_card.html' with post=comment type="comment" form_id=comment.id resp=comment.id %}
        {% endfor%}
        </div>
        {% endfor%}
        
        {% if user.is_verified %}
        <div id="write-new-post" class="btn btn-primary w-full mt-3" onclick="show_new_post()">Napsat příspěvek</div>
        <div id="form-new-post" class="max-w-screen-md mx-auto card compact bg-base-100 text-base-content hidden" >
            <div class="card-body">
                <textarea name="text" class="w-full textarea textarea-bordered my-1" id="response-{{thread.id}}"></textarea>
                <div class="w-full btn btn-outline btn-primary my-1" onclick="cmp.message_reload('#response-{{thread.id}}','{% url 'forum:respond'|prefix_reverse:request parent_pk=thread.id %}');">Odeslat</div>
            </div>
        </div>
        {% endif %}

        <div id="anchor" class="relative" style="bottom: 90vh;"></div>
</section>

<script>
    $(document).ready(function(){
        $("#anchor")[0].scrollIntoView();
    });

    show_new_post = function()
    {
        $('#form-new-post').show();
        $('#write-new-post').hide();
        $('#anchor')[0].scrollIntoView();
    }
</script>

{% endblock %}