{% extends "core/base.html" %}
{% load extras %}
{% load static %}


{% block title %} fórum {% endblock %}

{% block content %}
<section class="center-block py-10 lg:py-20">
    <h1 class="text-center">Diskuzní fórum</h1>
{% for topic in topics %}
    <div class="card my-8 shadow-inner bg-base-200">
        <div class="card-body">
            <h2 class="card-title text-center">{{topic.title}}</h2>
            <div class="divider my-2">Vlákna</div>
            <ol class="">
                {% for thread in topic.threads.all %}
                        <li><a class="my-2 btn btn-block btn-primary" href="{% url 'forum:thread'|prefix_reverse:request pk=thread.id %}"><p class="m-auto truncate"><i class="fa fa-comments"></i>&ensp;{{thread.title}}</p></a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endfor %}
</section>

{% endblock %}