/* =========== SETUP =========== */



/*
.w3-responsive{display:block;overflow-x:auto}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left;width:100%}
.w3-col.s1{width:8.33333%}.w3-col.s2{width:16.66666%}.w3-col.s3{width:24.99999%}.w3-col.s4{width:33.33333%}
.w3-col.s5{width:41.66666%}.w3-col.s6{width:49.99999%}.w3-col.s7{width:58.33333%}.w3-col.s8{width:66.66666%}
.w3-col.s9{width:74.99999%}.w3-col.s10{width:83.33333%}.w3-col.s11{width:91.66666%}.w3-col.s12{width:99.99999%}
@media (min-width:601px){.w3-col.m1{width:8.33333%}.w3-col.m2{width:16.66666%}.w3-col.m3,.w3-quarter{width:24.99999%}.w3-col.m4,.w3-third{width:33.33333%}
.w3-col.m5{width:41.66666%}.w3-col.m6,.w3-half{width:49.99999%}.w3-col.m7{width:58.33333%}.w3-col.m8,.w3-twothird{width:66.66666%}
.w3-col.m9,.w3-threequarter{width:74.99999%}.w3-col.m10{width:83.33333%}.w3-col.m11{width:91.66666%}.w3-col.m12{width:99.99999%}}
@media (min-width:993px){.w3-col.l1{width:8.33333%}.w3-col.l2{width:16.66666%}.w3-col.l3{width:24.99999%}.w3-col.l4{width:33.33333%}
.w3-col.l5{width:41.66666%}.w3-col.l6{width:49.99999%}.w3-col.l7{width:58.33333%}.w3-col.l8{width:66.66666%}
.w3-col.l9{width:74.99999%}.w3-col.l10{width:83.33333%}.w3-col.l11{width:91.66666%}.w3-col.l12{width:99.99999%}}
.w3-rest{overflow:hidden}.w3-stretch{margin-left:-16px;margin-right:-16px}
.w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}
.w3-cell-row{display:table;width:100%}.w3-cell{display:table-cell}
.w3-cell-top{vertical-align:top}.w3-cell-middle{vertical-align:middle}.w3-cell-bottom{vertical-align:bottom}
.w3-hide{display:none!important}.w3-show-block,.w3-show{display:block!important}.w3-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.w3-auto{max-width:95%}}
@media (max-width:600px){.w3-modal-content{margin:0 10px;width:auto!important}.w3-modal{padding-top:30px}
.w3-dropdown-hover.w3-mobile .w3-dropdown-content,.w3-dropdown-click.w3-mobile .w3-dropdown-content{position:relative}
.w3-hide-small{display:none!important}.w3-mobile{display:block;width:100%!important}.w3-bar-item.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}
@media (max-width:768px){.w3-modal-content{width:500px}.w3-modal{padding-top:50px}}
@media (min-width:993px){.w3-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.w3-hide-medium{display:none!important}}
@media (max-width:992px){.w3-sidebar.w3-collapse{display:none}.w3-main{margin-left:0!important;margin-right:0!important}.w3-auto{max-width:100%}}
*/

/* =========== CONSTANTS =========== */



.pointer {
    cursor: pointer;
}

.full-width{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.full-height{
  min-height: 100vh;
}

.tall {
    min-height: max(800px, 100vh);
}

.content {
    max-width: 940px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.cell {
    display: inline-block;
}

.left{
  float: left;
}

.right{
  float: right;
}

.center{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  text-align: center;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.background{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button{
  padding: 15px 25px;
  display: inline-block;
  /* border: 2px solid #13102F; */
  border: 3px solid #ebb627;
  font-weight: 700;
  text-decoration: none;
  font-size: 1rem;
  color: #ebb627;
  cursor: pointer;
}

.button:focus {outline:0;}

.button.primary{
  border: none;
  /* background-color: #13102F; */
  background-color: #ebb627;
  /* color: white; */
  color: black;
  font-weight: 500;
}

.light {
    background-color: white;
    color: #383838;
}

.dark-font {
    color: #383838;
}

.light-font {
    color: white;
}

p.alert, span.alert {
    color: red;
}

.padding{
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding-small{
  padding-top: 20px;
  padding-bottom: 20px;
}

.margin{
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin-small{
  margin-top: 20px;
  margin-bottom: 20px;
}

.disabled {
    color: darkGray;
    cursor: not-allowed;
}

.absolute {
    position: absolute!important;
}

.border-left {
    border-left: 1px solid;
}

.border-top {
    border-top: 1px solid;
}

.margin-left {
    margin-left: 40px;
}

.margin-left-small {
    margin-left: 20px;
}

.margin-left-tiny {
    margin-left: 8px;
}

.padding-left {
    padding-left: 40px;
}

.padding-left-small {
    padding-left: 20px;
}

.padding-right {
    padding-right: 40px;
}

.padding-right-small {
    padding-right: 20px;
}

.bar {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    padding: 1px;
    text-align: center;
    background-color: #ebb627;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.dimmed {
    opacity: 0.8;
}

.small {
    font-size: 0.7em;
}

/* KONTROLNÍ PANEL/LIŠTA */

.controll{
  background-color: #383838;
  font-family: 'Quicksand', sans-serif !important;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  text-align: left;
}

.controll span{
  padding-right: 10px;
  border-right: 1px solid white;
  margin-right: 10px;
  transition: color .1s;
}

.controll span.pointer{
    cursor: pointer;
}

.controll span.pointer:hover{
    color: #ffc936;
}

.controll span i{
  margin-left: 10px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

form input {
    padding: 5px;
}

.table-all{
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
    display:table;
    color: #383838;
    border:1px solid #ccc;
}
.table-all tr{border-bottom:1px solid #ddd}.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.table-all tr:nth-child(odd){background-color:#fff}.table-all tr:nth-child(even){background-color:#f1f1f1}
.table-all td,.table-all th{padding:10px 10px;display:table-cell;text-align:left;vertical-align:top}
.table-all th:first-child,.table-all td:first-child{padding-left:16px}

/* =========== MESSAGES ========= */

.message.debug {
    color: #b800cc;
}

.message.warning {
    color: yellow;
}

.message.error {
    color: red;
}

.message.success {
    color: green;
}

/* =========== NAVIGATION =========== */
#top-nav {
    background: rgb(60,60,60);
    background: linear-gradient(150deg, rgba(60,60,60,1) 0%, rgba(0,0,0,1) 100%);
    opacity: 85%;
    display: block;
    z-index: 2;
    height: 60px;
    top: 0;
    width: 92%;
    padding: 30px 4% 30px 4%;
}

#top-nav .right {
    margin-left: -100%;
}

#top-nav a{
  text-decoration: none;
  margin-right: 3vw;
  vertical-align: middle;
  line-height: 60px;
  color: inherit;
  display: inline-block;
  height: 60px;
}

#top-nav .button {
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
}

#top-nav .logo {
    font-size: 40px;
    height: 60px;
    margin-right: 5vw;
}

#mobile-nav {
    position: relative;
    background: rgb(60,60,60);
    background: linear-gradient(150deg, rgba(60,60,60,1) 0%, rgba(0,0,0,1) 100%);
    opacity: 100%;
    display: block;
    z-index: 2;
    height: 60px;
    top: 0;
    width: 100%;
}

#mobile-menu a {
    background-color: rgb(40,40,40);
}

#mobile-menu a:hover {
    background-color: black;
}

#mobile-nav a{
  text-decoration: none;
  vertical-align: middle;
  line-height: 60px;
  height: 60px;
  color: inherit;
  padding-left: 30px;
  padding-right: 30px;
}

#mobile-nav .logo{
  font-size: 30px;
}

/* =========== LANDING =========== */

.landing{
    padding: 0;
    position: relative;
    background-image: url('../img/smart.jpg');
}

.landing .overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  /* background: rgb(147,0,193);
  background: linear-gradient(150deg, rgba(147,0,193,1) 0%, rgba(0,230,255,1) 100%); */
}

.overlay {
    background: rgb(60,60,60);
    background: linear-gradient(150deg, rgba(60,60,60,1) 0%, rgba(0,0,0,1) 100%);
    opacity: 85%;
}

.landing .center{
  height: 200px;
  max-width: 800px;
}

.landing .center h3{
  max-width: 550px;
  margin: auto;
  text-align: center;
  color: white;
}

.landing .center h1{
  text-align: center;
  color: white;
}

.landing .center .button{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

img.silhouette{
  position: absolute;
  height: 300px;
  top: -300px;
  left: 100px;
}

/* =========== COUNTDOWN =========== */

.countdown{
  margin: 50px 4%;
  display: inline-block;
  font-size: 0;
}

.countdown h1, .countdown .divider, .countdown .clock{
  display: inline-block;
  vertical-align: middle;
}

.countdown h1{
  font-size: 2.5rem;
  font-weight: 500px;
  text-align: right;
  margin-right: 20px;
}

.countdown .divider{
  height: 120px;
  width: 5px;
  background-color: #ebb627;
  margin: 0 20px;
}

.countdown .clock{
  vertical-align: middle;
  font-size: 0;
}

.countdown .clock span{
  display: inline-block;
  text-align: center;
  vertical-align: top;
  font-size: 60px;
  font-weight: 600;
}

.countdown .clock span.counter{
  font-size: 0;
  width: 100px;
  text-align: center;
}

.countdown .clock span div{
  font-size: 60px;
}

.countdown .clock label{
  font-size: 14px;
  font-weight: 600;
  width: 100px;
  text-align: center;
  margin: 0;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: top;
}

@media (max-width:660px){
.countdown h1{
  font-size: 1.3rem;
  font-weight: 500px;
  text-align: right;
  margin-right: 10px;
}

.countdown .divider{
  height: 60px;
  width: 5px;
  background-color: #ebb627;
  margin: 0 10px;
}

.countdown .clock span.counter{
  width: 50px;
}

.countdown .clock span, .countdown .clock span div {
  font-size: 20px;
}

.countdown .clock label{
  width: 50px;
}
}

.about{
  width: 46%;
  padding: 50px 2%;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  color: #383838;
}

.brkosak{
  display: inline-block;
  vertical-align: middle;
  float: right;
}

/* TASKS */

.task{
  background-color: #383838;
  color: white;
  font-family: "Old Standard TT";
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.task p{
  font-size: 1.1rem;
  border: none;
  line-height: 1.6;
}

/* MODAL FORM */
from.modal {
    z-index: 10;
}

.form {
    height: 250px;
    max-width: 400px;
}

.long-form {
    height: 500px;
    max-width: 400px;
}

form.center h3{
  max-width: auto;
  text-align: center;
}

form p {
    margin: 20px;
}

form.center p{
  max-width: auto;
  text-align: center;
}

form .button{
  margin-top: 40px;
}

/* FOOTER */
footer{
  position: relative;
  padding: 0 40px;
  text-align: center;
  overflow: hidden;
  color: #383838;
}


footer span {
    margin-left: 40px;
    margin-right: 40px;
}

footer span a i {
    margin-right: 5px
}
