@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Quicksand'
    }

    .links-primary a {
        @apply link link-hover link-primary;
    }

    .links-secondary a {
        @apply link link-hover link-secondary;
    }

    .links-accent a {
        @apply link link-hover link-accent;
    }

    .math-text ul {
        @apply list-disc;
    }

    .math-text ol {
        @apply list-decimal;
    }

    .math-text li {
        @apply ml-5;
    }

    h1 {
        @apply font-bold text-2xl lg:text-3xl xl:text-4xl;
    }
    
    h2 {
        @apply font-medium text-xl lg:text-2xl xl:text-3xl;
    }

    h3 {
        @apply font-normal text-lg lg:text-xl xl:text-2xl;
    }

    p {
        @apply my-4;
        @apply text-justify;
    }

    .dark {
        @apply bg-base-content text-base-100;
    }

    .light {
        @apply bg-base-100 text-base-content;
    }

    .mr-1\/2 {
        margin-right: 50%;
    }

    .ml-1\/2 {
        margin-left: 50%;
    }

    .h-screen-1\/4 {
        height: 25vh;
    }

    .h-screen-3\/4 {
        height: 75vh;
    }

    .min-h-screen-3\/4 {
        min-height: 75vh;
    }

    .h-screen-1\/2 {
        height: 50vh;
    }

    .drawer-content {
        @apply absolute;
    }

    #changelist-search div {
        @apply flex;
    }

    #changelist-search div {
        @apply flex;
    }

    #searchbar {
        margin: 0 10px 0 6px !important;
    }

    #changelist-search div label img {
        max-width: initial !important;
    }

    .cancel-link {
        padding: 10px 15px !important;
        height: unset !important;
        font-size: 100% !important;
        line-height: inherit !important;
    }

    .column-online_submission_math {
        min-width: 300px;
    }

    .column-contestant {
        min-width: 150px;
    }

    .field-score input {
        width: 70px;
    }

    .closelink {
        height: 35px !important;
    }

    .divider-thin::before {
        height: 1px !important;
    }

    .divider-thin::after {
        height: 1px !important;
    }

    .mathrace-results {
        @apply border-collapse;
        @apply border;
    }

    .mathrace-results td {
        @apply border;
        @apply p-3;
    }

    .mathrace-results th {
        @apply border;
        @apply p-3;
        @apply font-bold;
        @apply uppercase;
        @apply bg-base-200;
        @apply text-xs;
        @apply text-left;
    }

    .task-solved {
        @apply bg-primary;
        @apply text-white;
        @apply font-bold;
        border-color: #e5e7eb;
    }

    dl dt {
        @apply font-semibold;
    }

    dl dd {
        @apply ml-6;
    }

    table th {
        position: unset !important;
    }

    .form-gapped input:not([type="checkbox"]) {
        @apply mt-5;
    }

    .form-gapped label {
        @apply mt-5;
    }

    .submit-row a {
        width: 100% !important;
    }
}


@layer components {
    .center-block {
        @apply w-11/12 md:w-full max-w-screen-md mx-auto;
    }

    .landing-gradient {
        background: rgb(0,182,143);
        background: linear-gradient(63deg, rgba(0,182,143,1) 0%, rgba(122,191,102,1) 24%, rgba(189,196,79,1) 56%, rgba(252,204,84,1) 100%);
        /* background: rgb(0,182,143);
        background: linear-gradient(63deg, rgba(0,182,143,1) 0%, rgba(120,204,128,1) 23%, rgba(163,212,123,1) 54%, rgba(255,229,112,1) 100%);  */
    }

    .landing-gradient-inv {
        background: rgba(255,229,112,1);
        background: linear-gradient(63deg, rgba(255,229,112,0.5) 0%, rgba(163,212,123,0.5) 60%, rgba(120,204,128,0.5) 90%, rgba(0,182,143,0.5) 100%); 
    }

    .landing-gradient-mathrace {
        background: rgb(0,182,143);
        background: linear-gradient(63deg, rgba(95,147,159,1) 0%, rgba(78,160,73,1) 24%, rgba(194,210,67,1) 56%, rgba(251,234,104,1) 100%);
        /* background: rgb(0,182,143);
        background: linear-gradient(63deg, rgba(0,182,143,1) 0%, rgba(120,204,128,1) 23%, rgba(163,212,123,1) 54%, rgba(255,229,112,1) 100%);  */
    }

    #result_list th {
        white-space: normal !important;
    }
}

@font-face {
    font-family: "CMU";
    src: url("/static/core/fonts/cmu.serif-roman.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("/static/core/fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
}
