<ul class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
    <!-- Sidebar content here -->
    <li><a class="px-4" href="{% url 'contest:tasks_newest' %}">
        Úlohy
    </a></li>
    <li><a class="px-4" href="{% url 'contest:results_newest' %}">
        Výsledky
    </a></li>
    <li><a class="px-4" href="{% url 'contest:archive' %}">
        Archiv
    </a></li>
    <li><a class="px-4" href="{% url 'contest:camp:camp' %}">
        Soustředění
    </a></li>
    <li><a class="px-4" href="{% url 'contest:forum:topics' %}">
        Fórum
    </a></li>
    <li><a class="px-4" href="{% url 'contest:rules' %}">
        Pravidla
    </a></li>
    <li><a class="px-4" href="{% url 'contest:about' %}">
        O nás
    </a></li>

    <span class="md:hidden">
        <div class="divider"></div>
        {% if user.is_authenticated %}

        <a class="px-2" href="{% url 'contest:account' %}">
            <button class="font-medium btn btn-primary">{{ user.username }}</button>
        </a>

        <a class="px-2" href="{% url 'contest:logout' %}">
            <button class="font-medium btn btn-secondary">Odhlásit</button>
        </a>
        {% else %}
        <a class="px-2" href="{% url 'contest:login' %}">
            <button class="font-medium btn btn-primary mx-2">Přihlásit</button>
        </a>

        <a class="px-2" href="{% url 'contest:register' %}">
            <button class="font-medium btn btn-secondary">Registrovat</button>
        </a>
        {% endif %}

        {% if user.is_staff %}
        <br>
        <a class="px-2" href="/admin">
            <button class="font-medium btn btn-accent btn-outline rounded-full my-4">Administrace</button>
        </a>
        {% endif %}
        </span>

    <!-- <li><a class="px-4" href="{% url 'contest:tasks_newest' %}">
        Úlohy
    </a></li>
    <li><a class="px-4" href="{% url 'contest:tasks_newest' %}">
        Úlohy
    </a></li> -->
</ul>