{% load extras %}

<!-- Navbar -->
<header class="bg-white shadow">
    <div class="container flex items-center justify-between px-8 py-4 mx-auto flex-row">
        <div class="flex items-center text-2xl">
            <a href="{% url 'contest:index' %}" class="font-brkos">
                BRKOS
            </a>
        </div>
        <div class="hidden xl:flex mt-4 font-medium md:text-xl sm:mt-0">
            <a class="px-4" href="{% url 'contest:tasks_newest' %}">
                Úlohy
            </a>
            <a class="px-4" href="{% url 'contest:results_newest' %}">
                Výsledky
            </a>
            <a class="px-4" href="{% url 'contest:archive' %}">
                Archiv
            </a>
            <a class="px-4" href="{% url 'contest:camp:camp' %}">
                Soustředění
            </a>
            <a class="px-4" href="{% url 'contest:forum:topics' %}">
                Fórum
            </a>
            <a class="px-4" href="{% url 'contest:rules' %}">
                Pravidla
            </a>
            <a class="px-4" href="{% url 'contest:about' %}">
                O nás
            </a>
        </div>
        <div class="flex">
            <span class="hidden md:block">
            {% if user.is_authenticated %}

            {% if user.is_staff %}
            <a class="absolute right-16 top-28 z-10" href="/admin">
                <button class="font-medium btn btn-primary btn-accent btn-outline rounded-full w-32">Administrace</button>
            </a>
            {% if editable %}
            <a class="absolute right-16 top-44 z-10" onclick="$('#editable-list').toggle()">
                <button class="font-medium btn btn-primary btn-accent btn-outline rounded-full w-32">Editovat</button>
            </a>
            <div class="absolute right-16 top-60 z-10 hidden" id="editable-list">
                <ul class="w-32 rounded-lg border-accent border-2 overflow-hidden hover:border-accent-focus" style="border-radius: 24px;">
                {% for text in editable %}
                    <li class="text-center text-accent p-2 hover:bg-accent-focus hover:text-white cursor-pointer font-medium" onclick="window.open('{% url "admin:core_text_change" text.id %}')">{{text.name}}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endif %}

            <a class="px-2" href="{% url 'contest:account' %}">
                <button class="font-medium btn btn-primary">{{ user.username }}</button>
            </a>

            <a class="px-2" href="{% url 'contest:logout' %}">
                <button class="font-medium btn btn-secondary">Odhlásit</button>
            </a>
            {% else %}
            <a class="px-2" href="#my-modal">
                <button class="font-medium btn btn-primary mx-2">Přihlásit</button>
            </a>

            <a class="px-2" href="{% url 'contest:register' %}">
                <button class="font-medium btn btn-secondary">Registrovat</button>
            </a>
            {% endif %}
            </span>

            <div>
                <label for="my-drawer" class="drawer-button btn btn-circle mx-2 xl:hidden">
                    <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/></svg>
                </label>
            </div>
        </div>

        {% include "core/parts/login_modal.html" %}
</header>
