{% extends "admin/base_site.html" %}
{% block extrahead %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block content %}
    <h1>Statistika</h1>
    <h2>Statistika tohoto ročníku</h2>
    <p>Počet řešitelů v tomto ročníku: {{ this_contest_number }}</p>
    <div id="plot_by-grade"></div>
    <div id="plot_by-collection"></div>
    <h2>Statistika úloh</h2>
    <div id="plot_tasks-all"></div>
    <div id="plot_tasks-singly"></div>
    <h2>Průměrné bodové hodnocení úloh</h2>
    <table>
        <thead>
            <tr><th>Série</th><th>Úloha</th><th>Body</th></tr>
        </thead>
        <tbody>
            {% for task in tasks_scores %}
                <tr><td>{{ task.collection }}</td><td>{{ task.name }}</td><td>{{ task.score }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        var data1 = [{x: ["1.","2.","3.","4."], y: [{{ bygrade.g1 }},{{ bygrade.g2 }},{{ bygrade.g3 }},{{ bygrade.g4 }}], type: "bar"}];
        var layout1 = {xaxis: {title: "Ročník"}, yaxis: {range: [0, 50]}, title: "Počet řešitelů podle ročníku"};
        Plotly.newPlot("plot_by-grade",data1,layout1);

        var data2 = [{x: [{% for collection in collections %} {{collection.order}},{% endfor %}], y: [{% for collection in collections %} {{collection.contestants}},{% endfor %}], mode: "lines", type: "scatter"}];
        var layout2 = {xaxis: {title: "Série", range: [0,6]}, yaxis: {range: [0, 100]}, title: "Počet řešitelů podle sérií"};
        Plotly.newPlot("plot_by-collection",data2,layout2);

        var data3 = [{x: [{% for collection in collections %} {{collection.order}},{% endfor %}], y: [{% for collection in collections %} {{collection.submissions}},{% endfor %}], mode: "lines", type: "scatter"}];
        var layout3 = {xaxis: {title: "Série", range: [0,6]}, yaxis: {range: [0, 450]}, title: "Počet odevzdaných úloh"};
        Plotly.newPlot("plot_tasks-all",data3,layout3);

        var data4 = [
        {% for task in tasks_submissions %}
        {x: [{% for collection in task.collections %} {{collection.order}},{% endfor %}], y: [{% for collection in task.collections %} {{collection.submissions}},{% endfor %}], name: "Úloha {{ task.name }}", mode: "lines", type: "scatter"},
        {% endfor %}
        ];
        var layout4 = {xaxis: {title: "Série", range: [0,6]}, yaxis: {range: [0, 80]}, title: "Počet odevzdaných úloh po úlohách"};
        Plotly.newPlot("plot_tasks-singly",data4,layout4);
    </script>
{% endblock %}