{% extends "core/base.html" %}
{% load extras %}
{% load static %}


{% block title %} archiv {% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Old+Standard+TT">
    {% include 'core/parts/latex.html' %}
{% endblock %}

{% block content %}

<section class="py-20 center-block">
    <h1 class="text-center">Archiv sérií</h1>
{% for contest in contests %}
<div class="card my-10 bg-base-200 shadow-inner">
    <div class="card-body">
    <h2 class="text-center">{{contest.order | romanize}}. ročník</h2>
    <div class="divider my-0"></div>
    <p style="background-color: rgba(0, 0, 0, 0)" class="mb-0 md:mb-4">
        <a class="link link-hover link-primary" href="{% url 'mathrace:teams_old' contest_order=contest.order %}" target="_blank">Týmy</a>
        &emsp;
        <a {% if not contest.scoreboard_pdf.content.url %}class="cursor-not-allowed opacity-50"{% else %} class="link link-hover link-primary" href="{{ contest.scoreboard_pdf.content.url }}"{% endif %} target="_blank">Výsledky</a>
        &emsp;
        <a {% if not contest.stats_pdf.content.url %}class="cursor-not-allowed opacity-50"{% else %} class="link link-hover link-primary" href="{{ contest.stats_pdf.content.url }}"{% endif %} target="_blank">Statistika</a>
    </td>
    <table class="w-full table mx-auto hidden md:table">
        <tbody>
        {% for collection in contest.task_collections.all %}
        <tr>
            <td style="background-color: rgba(0, 0, 0, 0)">#{{collection.order}}</td>
            <td style="background-color: rgba(0, 0, 0, 0)">{{collection.name}}</td>
            <td style="background-color: rgba(0, 0, 0, 0)"><a {% if not collection.assignment_pdf.content.url %}class="cursor-not-allowed opacity-50"{% else %} class="link link-hover link-primary" href="{{ collection.assignment_pdf.content.url }}"{% endif %} target="_blank">Zadání</a></td>
            <td style="background-color: rgba(0, 0, 0, 0)"><a {% if not collection.release_solution or not collection.solution_pdf.content.url %}class="cursor-not-allowed opacity-50"{% else %} class="link link-hover link-primary"  href="{{ collection.solution_pdf.content.url }}"{% endif %} target="_blank">Řešení</a></td>
        </tr>
        {% endfor %}
        </tbody>
    <div class="md:hidden">
        {% for collection in contest.task_collections.all %}
        <p style="background-color: rgba(0, 0, 0, 0)" class="mb-0">#{{collection.order}}&emsp;{{collection.name}}</p>
        <ul class="pl-3">
            <li style="background-color: rgba(0, 0, 0, 0)"><a {% if not collection.assignment_pdf.content.url %}class="cursor-not-allowed opacity-50"{% else %} class="link link-hover link-primary" href="{{ collection.assignment_pdf.content.url }}"{% endif %} target="_blank">Zadání</a></li>
            <li style="background-color: rgba(0, 0, 0, 0)"><a {% if not collection.release_solution or not collection.solution_pdf.content.url %}class="cursor-not-allowed opacity-50"{% else %} class="link link-hover link-primary"  href="{{ collection.solution_pdf.content.url }}"{% endif %} target="_blank">Řešení</a></li>
        </ul>
        {% endfor %}
    </div>
    </table>
    </div></div>
{% endfor %}
</section>

{% endblock %}
