{% extends "core/base.html" %}
{% load extras %}
{% load static %}

{% block title %} úvod {% endblock %}

{% block content %}
<section id="domu" class="hero relative" style="min-height: 65vh;">
    <div class="hero-overlay landing-gradient-mathrace"></div>
    <div class="hero-content text-center lg:w-1/2 flex-col mb-20 mt-16 z-10">
        <h1 class="font-bold text-3xl lg:text-4xl xl:text-5xl">
            {{ claim | safe }}
        <!-- Každá myšlenka se počítá. -->
        </h1>
        <p class="text-lg font-light lg:text-xl text-center">
            {{ subclaim | safe }}
            <!-- BRKOS je matematická soutěž pro všechny středoškoláky, kteří&nbsp;se&nbsp;nebojí přemýšlet. -->
        </p>
        <div class="w-full">
            <a class="mx-2 md:mx-4" href="{% url 'mathrace:teams' %}">
                <button class=" btn btn-lg  btn-primary w-5/12 md:w-1/3">
                    Registrace
                </button>
            </a>
            <a class="mx-2 md:mx-4" href="{% url 'mathrace:rules' %}">
                <button class="btn btn-lg btn-secondary w-5/12 md:w-1/3">
                    Pravidla
                </button>
            </a>
        </div>
    </div>
    <img src="{% static 'core/img/silhouette.svg' %}" alt="Silueta Brna"
        class="absolute bottom-0 opacity-40 invisible md:visible w-96 left-10 mb-0">
    <img src="{% static 'core/img/silhouette.svg' %}" alt="Silueta Brna"
        class="absolute bottom-0 fill-current invisible md:visible w-80 left-14 -mb-2">
    <div class="w-32 rounded-full bg-white border-2 border-base-content absolute -bottom-16 mx-auto left-0 right-0 overflow-hidden">
            <img src="{% static 'core/img/brkosak_grey.svg' %}" class="w-32 m-0 p-4 ">
    </div>
</section>
<section class="pt-20">
    <div class="w-11/12 mx-auto flex flex-col md:flex-row">
        <div class="w-full md:w-1/2 md:pr-10 mb-12 md:mb-0">
            <div class="blog">
            {{ intro | gen_file_refs | markdown_to_html |safe }}
            </div>
        </div>
        <div class="w-full md:w-1/2 md:pl-10">
            {% if contest_start %}
            <div class="container mx-auto mb-10 md:mb-20">
                {% include 'mathrace/parts/inline_clock.html' %}
            </div>
            {% endif %}
            <div class="">
                <div class="container mx-auto links-secondary">
                    {% for contrib in contribs %}
                        {% include 'core/parts/contrib.html' %}
                        </br>
                    {% endfor %}
                    <p><a href="{% url 'mathrace:old_contribs_def' %}">Další novinky</a></p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
