{% extends "core/base.html" %}

{% load extras %}

{% block title %} registrace týmu {% endblock %}

{% block content %}
<section class="center-block my-10 lg:my-20">
    {% if msg %}
    <div class="alert alert-success mb-4">{{ msg }}</div>
    {% endif %}
    {% if team %}
    <div class="card bg-base-200 shadow-inner">
        <div class="card-body">
            <h2>Můj tým</h2>
            <p>
                <table class="hidden md:table">
                    <tr><td>Název:</td> <td><b>{{ team.name }}</b></td></tr>
                    <tr><td>Underground:</td> <td>{% if team.underground %}ANO{% else %}NE{% endif %}</td></tr>
                    {% if not team.underground %}
                    <tr><td>Škola:</td> <td>{{ team.school }}</td></tr>
                    {% endif %}
                    <tr><td>Kontaktní email:</td> <td>{{ team.email }}</td></tr>
                    <tr><td class="h-4"></td></tr>
                    <tr><td>1. člen:</td> <td>{{ team.first_member }}</td></tr>
                    <tr><td>2. člen:</td> <td>{{ team.second_member }}</td></tr>
                    <tr><td>3. člen:</td> <td>{{ team.third_member }}</td></tr>
                    <tr><td>4. člen:</td> <td>{{ team.fourth_member }}</td></tr>
                </table>
                <dl class="md:hidden">
                    <dt>Název:</dt> <dd><b>{{ team.name }}</b></dd>
                    <dt>Underground:</dt> <dd>{% if team.underground %}ANO{% else %}NE{% endif %}</dd>
                    {% if not team.underground %}
                    <dt>Škola:</dt> <dd>{{ team.school }}</dd>
                    {% endif %}
                    <dt>Kontaktní email:</dt> <dd>{{ team.email }}</dd>
                    <dt class="mt-4">1. člen:</dt> <dd>{{ team.first_member }}</dd>
                    <dt>2. člen:</dt> <dd>{{ team.second_member }}</dd>
                    <dt>3. člen:</dt> <dd>{{ team.third_member }}</dd>
                    <dt>4. člen:</dt> <dd>{{ team.fourth_member }}</dd>
                </dl>
            {% if team.photo %}
            <p>Týmová fotka:</p>
            <div class="w-64 h-56" style="background-image: url({{team.photo.url}}); background-position: center center; background-repeat: no-repeat; background-size: cover;"></div>
            {% endif %}
            <p><a href="{% url 'mathrace:update_team' %}" class="btn btn-outline btn-secondary mb-2">Upravit údaje</a>
            {% if team.photo %}
            <a class="btn btn-outline border-error text-error hover:bg-error hover:text-base-100 hover:border-error mb-2" onclick="cmp.request_reload('{% url 'mathrace:delete_team_photo' %}')">Smazat fotku</a>
            {% else %}
            <a class="btn btn-outline btn-secondary mb-2" id="upload-btn">Nahrát fotku</a>
            <script>
                cmp.spawn(cmp.UploadFile, 'upload-btn', props={
                url: "{% url 'mathrace:upload_team_photo' %}",
                children: "Nahrát fotku"
                });
            </script>
            {% endif %}
            </p>
        </div>
    </div>
    {% elif reg_closed %}
        <h1>Registrace týmu</h1>
        <p>Registrace byla uzavřena.</p>
    {% else %}
        <h1>Registrace týmu</h1>
        {{ instructions | gen_file_refs | markdown_to_html | safe }}
        {% if user.is_authenticated %}
        <div class="card bg-base-200 shadow-inner">
            <div class="card-body">
                <h2 class="pb-4">Registrační formulář</h2>
                <form method="POST" class="block mx-auto text-center max-w-sm" action="{% url 'mathrace:register_team' %}" >
                    {% csrf_token %}
                    {% include 'core/parts/form.html' with form=registration_form %}
                    <button type="submit" class="btn my-10 btn-block btn-primary">Zaregistrovat!</button>
                </form>
            </div>
        </div>
        {% else %}
        <div class="text-center hidden md:block"><a class="btn btn-primary btn-wide self-center" href="#my-modal">Přihlásit</a></div>
        <div class="text-center md:hidden"><a class="btn btn-primary btn-wide self-center" href="{% url "mathrace:login" %}">Přihlásit</a></div>
        {% endif %}

    {% endif %}
</section>
{% endblock %}