{% extends "core/base.html" %}
{% load extras %}
{% load static %}


{% block title %} výsledky {% endblock %}

{% block head %}
    {% include 'core/parts/latex.html' %}
{% endblock %}

{% block content %}
<section class="py-10 center-block">
    {% autoescape off %}
    <h1 class="text-center my-10">Výsledky {{ contest_order }} ročníku</h1>
    <div class="overflow-x-auto px-2">{{ results_html | safe }}</div>
    {% if stats_html %}
    <h1 class="text-center my-10"> Statistika {{ contest_order }} ročníku</h1>
    <div class="overflow-x-auto px-2">{{ stats_html | safe }}</div>
    {% endif %}
    {% endautoescape %}

{% endblock %}