{% extends "core/base.html" %}
{% load extras %}
{% load static %}


{% block title %} úlohy {% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Old+Standard+TT">
{% endblock %}

{% block content %}

{% include 'mathrace/parts/server_time.html' %}

<section class="center-block py-10">
    <div class="">
        <h1 class="text-center my-10">Zadání {{ collection.contest.order | romanize }}. ročníku</h1>

        <div class="navbar px-3 pb-1 shadow-lg bg-base-100 horizontal rounded-box my-10">
            {% for listed_collection in all_collections %}
            <a href="{% url 'mathrace:tasks' contest_order=collection.contest.order collection_order=listed_collection.order %}" tabindex="0" class="mb-2 btn {%if collection.order == listed_collection.order %}btn-primary{% endif %} mr-2">{{listed_collection.order}}. série</a>
                 <!-- <li class="text-center border-b-2 p-2 my-2">{{ task_collection.name }}</li> -->
            {% endfor %}
        </div>

        <h2 class="text-center mt-10 mb-3"> {{ collection.order }}. série</h2>
        <h2 class="text-center mt-0">{{ collection.name }} </h2> 

        <!-- <h1 class="text-center mx-auto">{{ collection.order }}. série <span class="mx-4">·</span> {{ contest }}</h1> -->

        <p class="text-center mx-auto">Konec odevzdávání: {{ collection.close_date }}</p>

        <div class="rounded-box w-full mt-16 flex flex-col md:flex-row flex-wrap">
            {% if collection.assignment_pdf %}
                <a class="btn btn-secondary rounded-full px-4 py-2 mr-2 mb-2" target="_blank" href="{{collection.assignment_pdf.content.url}}">Zadání: <i class="fas fa-file-pdf mx-2"></i></a>
            {% endif %}
            {% if collection.helptext_pdf %}
                <a class="btn btn-secondary rounded-full px-4 py-2 mr-2 mb-2" target="_blank" href="{{collection.helptext_pdf.content.url}}">Pomocný text: <i class="fas fa-question-circle mx-2"></i></a>
            {% endif %}
            {% if collection.release_solution and collection.solution_pdf %}
                <a class="btn btn-secondary rounded-full px-4 py-2 mr-2 mb-2" target="_blank" href="{{collection.solution_pdf.content.url}}">Vzorové řešení: <i class="fas fa-book mx-2"></i></a>
            {% endif %}

            <a class="btn btn-secondary rounded-full px-4 py-2 mr-2 mb-2" target="_blank" href="{% url 'mathrace:results' %}">Výsledky: <i class="fas fa-chart-bar mx-2"></i></a>

            {% if collection.is_closed %}
                <span class="btn-disabled btn btn-error  rounded-full px-4 py-2 mr-2 mb-2">Série uzavřena <i class="fas fa-minus-circle mx-2"></i></span>
            {% else %}
                <span class="btn-disabled btn btn-warning rounded-full px-4 py-2 mr-2 mb-2">Uzavření: {{ collection.close_date | time }} <i class="fas fa-hourglass-half mx-2"></i></span>
            {% endif %}
            
        </div>
    {% for task in tasks %}
        {% if task %}
            {% include 'mathrace/parts/task.html' %}
        {% endif %}
    {% endfor%}
    </div>
</section>

<!--<div class="fixed left-0 bottom-0 text-lg border p-1">Čas serveru: 12:34:56</div>-->

{% endblock %}
