{% extends "core/base.html" %}
{% load extras %}

{% block title %} týmy {% endblock %}

{% block content %}
    <section class="center-block my-10 lg:my-20 links-secondary">
        <h1 class="mb-5">Týmy ročníku {{ contest_order }}</h1>
    {% for team in ordinary %}
        {% include 'mathrace/parts/team.html' %}
    {% endfor %}
    </section>

    <section class="center-block my-10 lg:my-20 links-secondary">
        <h1 class="mb-5">Týmy kategorie underground ročníku</h1>
    {% for team in underground %}
        {% include 'mathrace/parts/team.html' %}
    {% endfor %}
    </section>

{% endblock %}