{% extends "core/base.html" %}
{% load extras %}

{% block title %} týmy {% endblock %}

{% block content %}
<section class="center-block my-10 lg:my-20">
    {% if msg %}
    <div class="alert alert-success mb-4">{{ msg }}</div>
    {% endif %}
    {% if team %}
        {% include 'mathrace/parts/my_team.html' %}
    {% elif reg_closed %}
        <h1>Registrace týmu</h1>
        <p>Registrace byla uzavřena.</p>
    {% else %}
        <h1>Registrace týmu</h1>
        {{ instructions | gen_file_refs | markdown_to_html | safe }}
        {% if user.is_verified %}
        <div class="card bg-base-200 shadow-inner">
            <div class="card-body">
                <h2 class="pb-4">Registrační formulář</h2>
                <form method="POST" class="block mx-auto text-center w-full max-w-sm" action="" >
                    {% csrf_token %}
                    {% include 'core/parts/form.html' with form=registration_form %}
                    <button type="submit" class="btn my-10 btn-block btn-primary">Zaregistrovat!</button>
                </form>
            </div>
        </div>
        {% elif user.is_authenticated %}
        <div class="alert alert-warning block">Pro registraci týmu je třeba <a class="inline" href="{% url 'mathrace:verification_info' %}">ověřit uživatelský účet</a>.</div>
        {% else %}
        <div class="text-center hidden md:block"><a class="btn btn-primary btn-wide self-center" href="#my-modal">Přihlásit</a></div>
        <div class="text-center md:hidden"><a class="btn btn-primary btn-wide self-center" href="{% url "mathrace:login" %}">Přihlásit</a></div>
        {% endif %}

    {% endif %}
</section>


    <section class="center-block my-10 lg:my-20 links-secondary">
        <h1 class="mb-5">Týmy</h1>
    {% for team in ordinary %}
        {% include 'mathrace/parts/team.html' %}
    {% endfor %}
    </section>

    <section class="center-block my-10 lg:my-20 links-secondary">
        <h1 class="mb-5">Týmy kategorie underground</h1>
    {% for team in underground %}
        {% include 'mathrace/parts/team.html' %}
    {% endfor %}
    </section>

{% endblock %}