{% extends "core/base.html" %}

{% load extras %}

{% block title %} registrace {% endblock %}

{% block content %}
<section class="center-block my-10 lg:my-20">
        <div class="card bg-base-200 shadow-inner">
            <div class="card-body">
                <h2 class="pb-4">Upravit údaje</h2>
                <form method="POST" class="block mx-auto text-center w-full max-w-sm" action="{% url 'mathrace:update_team' %}" >
                    {% csrf_token %}
                    {% include 'core/parts/form.html' with form=registration_form %}
                    <button type="submit" class="btn my-10 btn-block btn-primary">Uložit</button>
                </form>
            </div>
        </div>
</section>
{% endblock %}