{% load extras %}

<article class="max-w-screen-md mx-auto my-5 card compact bg-base-200 text-base-content shadow-inner relative">
    <div id="post-{{post.id}}" class="-my-20 absolute"></div>
    <div class="card-body w-3/4 md:w-5/6">
        <div>
            <div class="font-light text-xs inline-block float-left"> {{ post.created }}
            <span>{% if post.author %}@{{ post.author.username }}{% endif %}</span>
            </div>
        </div>
        <div class="max-w-4/5">
            {% if post.deleted %}
            <i>Příspěvek byl smazán autorem</i>
            {% elif post.banned %}
            <i>Příspěvek byl odstraněn jako nevhodný</i>
                {% if user.is_staff %}
                <br><span class="text-gray-400">{{ post.text }}</span>
                {% endif %}
            {% else %}
            {{ post.text }}
            {% endif %}
        </div>
    </div>
    <div class="btn-group absolute right-4 top-4">
    {% if user.is_verified and not post.deleted and not post.banned %}
        <button class="btn btn-sm btn-primary btn-outline" onclick="$('#form-{{type}}-{{form_id}}').toggle();"><i class="far fa-comment-dots"></i></button>
        {% if user.id == post.author.id %}
        <button class="btn btn-sm {% if request|namespace_prefix == "mathrace" %} btn-secondary {% else %} btn-accent {% endif %}" onclick="if(confirm('Opravdu chcete smazat tento příspěvek?')){cmp.request_reload('{% url 'forum:delete'|prefix_reverse:request post_pk=post.id %}');}"><i class="far fa-trash-alt"></i></button> 
        {% endif %}
    {% endif %}
    {% if user.is_staff and not post.deleted %}
        <button class="btn btn-sm {% if request|namespace_prefix == "mathrace" %} btn-secondary {% else %} btn-accent {% endif %}" onclick="cmp.request_reload('{% url 'forum:ban'|prefix_reverse:request post_pk=post.id %}');"><i class="fas fa-ban"></i></button> 
    {% endif %}
    </div>
</article>

{% if user.is_verified %}
<div id="form-{{type}}-{{form_id}}" class="max-w-screen-md mx-auto card compact bg-base-100 text-base-content hidden" >
    <div class="card-body">
        <textarea name="text" class="w-full textarea textarea-bordered my-1" id="response-{{post.id}}"></textarea>
        <div class="w-full btn btn-outline btn-primary my-1" onclick="cmp.message_reload('#response-{{post.id}}','{% url 'forum:respond'|prefix_reverse:request parent_pk=post.id %}');">Odeslat</div>
    </div>
</div>
{% endif %}