{% extends "core/base.html" %}

{% block title %} stránka nenalezena {% endblock%}

{% block content %}
<section class="py-20 center-block">
    <h1>Stránka nebyla nalezena</h1>
    <p>Na této adrese nebyla nalezena žádná stránka.</p>
</section>
{% endblock %}