{% extends "core/base.html" %}

{% block title %} chyba serveru {% endblock%}

{% block content %}
<section class="py-20 center-block">
    <h1>Chyba serveru</h1>
    <p>Zdá se, že děláte něco špatně. Zkuste se vrátit zpět.</p>
</section>
{% endblock %}