{% extends "core/base.html" %}
{% load extras %}
{% load static %}

{% block title %} o nás {% endblock %}

{% block content %}
<section class="center-block my-10 lg:my-20 links-secondary">
    {{ about | gen_file_refs | markdown_to_html |safe }}
    <h1>Současní organizátoři</h1>
    <div class="w-full mx-0 my-8 grid-cols-1 grid sm:grid-cols-2 gap-4">
        {% for organizer in active_organizers %}
        <div class="card compact w-3/4 max-w-xs auto bg-base-200 shadow-inner mx-auto my-2">
            <div class="card-body items-center text-center">
                <div class="w-full avatar">
                    <div class="w-5/6 mask mask-circle mx-auto">
                        {% if organizer.photo %}
                        <div class="w-full" style="padding-top: 100%; background-image: url({{organizer.photo.url}}); background-position: center center; background-repeat: no-repeat; background-size: cover;"></div>
                        {% else %}
                        <img src="{% static 'core/img/brkosak.png' %}" />
                        {% endif %}
                    </div>
                </div>
                <h3 class="my-2">{{organizer.nickname}}</h3>
                <span class="text-base">{{organizer.user.full_name}}<br>
                {{organizer.user.email}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    <h1>Bývalí organizátoři</h1>
    <ul class="list list-disc mt-3">
        {% for organizer in former_organizers %}
        <li class="ml-5">{{organizer.nickname}} – {{organizer.user.full_name}}</li>
        {% endfor %}
    </ul>
</section>

{% endblock %}