{% extends "core/base.html" %}
{% load extras %}

{% block title %} profil {% endblock %}

{% block content %}
<section class="py-10 center-block">
    {% if msg %}
    <div class="alert alert-success mb-4">{{ msg }}</div>
    {% endif %}
    <div class="card bg-base-200 shadow-inner">
        <div class="card-body">
            <h2>Správa účtu</h2>
            <p>
                <table class="hidden md:table">
                    <tr><td style="min-width: 30%;">Přihlašovací jméno:</td> <td>{{ user.username }}</td></tr>
                    <tr><td>Email:</td> <td>{{ user.email }}</td></tr>
                    <tr><td>Jméno:</td> <td>{{ user.first_name }}</td></tr>
                    <tr><td>Příjmení:</td> <td>{{ user.last_name }}</td></tr>
                    {% if user.contestant %}
                    <tr><td>Škola:</td> <td>{{ user.contestant.school }}</td></tr>
                    <tr><td>Matematická třída:</td> <td>{% if user.contestant.math_class %}ANO{% else %}NE{% endif %}</td></tr>
                    <tr><td>Rok maturity:</td> <td>{{ user.contestant.graduate_year}}</td></tr>
                    <tr><td>Ročník:</td> <td>{{ user.contestant.grade }}</td></tr>
                    {% endif %}
                </table>
                <dl class="md:hidden">
                    <dt>Přihlašovací jméno:</dt> <dd>{{ user.username }}</dd>
                    <dt>Email:</dt> <dd>{{ user.email }}</dd>
                    <dt>Jméno:</dt> <dd>{{ user.first_name }}</dd>
                    <dt>Příjmení:</dt> <dd>{{ user.last_name }}</dd>
                    {% if user.contestant %}
                    <dt>Škola:</dt> <dd>{{ user.contestant.school }}</dd>
                    <dt>Matematická třída:</dt> <dd>{% if user.contestant.math_class %}ANO{% else %}NE{% endif %}</dd>
                    <dt>Rok maturity:</dt> <dd>{{ user.contestant.graduate_year}}</dd>
                    <dt>Ročník:</dt> <dd>{{ user.contestant.grade }}</dd>
                    {% endif %}
                </dl>
            <p><a href="{% url 'update_account'|prefix_reverse:request %}" class="btn btn-outline btn-secondary mb-2">Upravit údaje</a>
                <a href="{% url 'change_password'|prefix_reverse:request %}" class="btn btn-outline btn-secondary mb-2">Změnit heslo</a></p>
        </div>
    </div>
</section>

{% if user.contestant and request|namespace_prefix == "brkos" %}
<section class="py-10 center-block">
    <h2 id="submissions" class="w-full text-center">Odevzdaná řešení</h2>
    {% include 'contest/parts/submissions_list.html' %}
</section>
{% endif %}
{% endblock %}