{% extends "core/base.html" %}

{% block title %} změna hesla {% endblock %}

{% block content %}
<section class="center-block my-10 lg:my-20">
  <h1 class="text-center">Změna hesla</h1>
  <form method="POST" class="block mx-auto text-center max-w-sm my-10">
    {% csrf_token %}
    {% include "core/parts/form.html" %}
    <button type="submit" class="btn my-10 btn-block btn-primary">Uložit</button>
  </form>
</section>
{% endblock %}
