{% extends "core/base.html" %}
{% load extras %}
{% load static %}


{% block title %} BRKOS úlohy {% endblock %}

{% block content %}
<section class="padding">
    <div class="tasks">
        <h1>{{ collection.name }}</h1>
        <h2>{{ contest }}</h2>  <!-- TODO convert to str -->
        <a target="_blank" href="{{collection.assignment_pdf.content.url}}">Zadání</a>
        {% if collection.solution_pdf %}
        <a target="_blank" href="{{collection.solution_pdf.content.url}}">Řešení</a>
        {% endif %}
    </div>
</section>

{% endblock %}
