{% extends "core/base.html" %}
{% load extras %}
{% load static %}

{% block title %} úvod {% endblock %}

{% block content %}
<section id="domu" class="hero relative" style="min-height: 65vh;">
    <div class="hero-overlay landing-gradient"></div>
    <div class="hero-content text-center lg:w-1/2 flex-col mb-20 mt-16 z-10">
        <h1 class="font-bold text-3xl lg:text-4xl xl:text-5xl">
            {{ claim | safe }}
        <!-- Každá myšlenka se počítá. -->
        </h1>
        <p class="text-lg font-light lg:text-xl text-center">
            {{ subclaim | safe }}
            <!-- BRKOS je matematická soutěž pro všechny středoškoláky, kteří&nbsp;se&nbsp;nebojí přemýšlet. -->
        </p>
        <div class="w-full">
            <a class="mx-2 md:mx-4" href="{% url 'contest:tasks_newest' %}">
                <button class="btn btn-lg  btn-primary w-5/12 md:w-1/3">
                    Úlohy
                </button>
            </a>
            <a class="mx-2 md:mx-4" href="{% url 'contest:rules' %}">
                <button class="btn btn-lg btn-secondary w-5/12 md:w-1/3">
                    Pravidla
                </button>
            </a>
        </div>
    </div>
    <img src="{% static 'core/img/silhouette_yellow.svg' %}" alt="Silueta Brna"
        class="absolute bottom-0 opacity-40 invisible md:visible w-96 left-10 mb-0">
    <img src="{% static 'core/img/silhouette_yellow.svg' %}" alt="Silueta Brna"
        class="absolute bottom-0 fill-current invisible md:visible w-80 left-14 -mb-2">
    <div class="w-32 rounded-full bg-white border-2 border-base-content absolute -bottom-16 mx-auto left-0 right-0 overflow-hidden">
            <img src="{% static 'core/img/brkosak_grey.svg' %}" class="w-32 m-0 p-4 ">
    </div>
</section>
<section class="pt-20">
    <div class="w-11/12 mx-auto flex flex-col md:flex-row">
        <div class="w-full md:w-1/2 md:pr-10 mb-12 md:mb-0">
            <div class="blog my-10">
            {{ intro | gen_file_refs | markdown_to_html |safe }}
            </div>
            <h2 class="my-4">Kalendář</h2>
            <div class="w-full relative border-2 rounded-lg overflow-hidden" style="padding-bottom: 75%;">
                <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=Europe%2FPrague&showTitle=0&showNav=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&src=MzE3OTgwMjkxMmY1MzE4NmMzYjk1ODVjY2NlZmMxODcwMzNkZjcxM2E2Mjk4ZThmNTE2MDhkMDk4ZjdhYWNlOEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y29hbmNxMXU0aTMzcWludHRjN3Y5ajRiMmtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=YWFrZnJmN3FlMjJpOTNjM3ZzNW81czBpcTRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=MDdjbjRxaTJxbTFnM3J0cHVsczc4ZG1zYmdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=bWF0ZW1hdGlja2FvbHltcGlhZGFtb0BnbWFpbC5jb20&src=Y3MuY3plY2gub2ZmaWNpYWwjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%238E24AA&color=%23A79B8E&color=%23A79B8E&color=%23A79B8E&color=%23A79B8E&color=%230B8043"
            style="border-width:0" frameborder="0" scrolling="no" class="absolute h-full w-full"></iframe>
            </div>
        </div>
        <div class="w-full md:w-1/2 md:pl-10">
            {% if active_collection.is_open %}
            <div class="container mx-auto mb-10 md:mb-20">
                {% include 'contest/parts/inline_clock.html' %}
            </div>
            {% endif %}
            <div class="">
                <div class="container mx-auto links-secondary">
                    {% for contrib in contribs %}
                        {% include 'core/parts/contrib.html' %}
                        </br>
                    {% endfor %}
                    <p><a href="{% url 'contest:old_contribs_def' %}">Další novinky</a></p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
