{% extends "core/base.html" %}

{% block title %} BRKOS O nás{% endblock%}

{% block content %}
<!-- Úvod -->
<div class="w3-container w3-content w3-center w3-padding content-column">
    <section>
        <h2 class="w3-wide">Jsme boží!</h2>
        <p class="w3-opacity"><i>Nemáme rádi analýzu (jenom funkcionální)</i></p>
        <p class="w3-justify">We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </section>
    <hr>
</div>

<div class="w3-container w3-content w3-center w3-padding content-column">
    <section>
        <h2>Organizátoři</h2>
        <div class="w3-row">
            <div class="w3-third">
                <div class="w3-margin w3-padding w3-card">
                    <h3>Vít Jelínek</h3>
                    <p class="w3-opacity"><i>Umírá</i></p>
                    Jsem Vítek Jelínek a hořím jako hořící jelínek.
                </div>
            </div>
    
            <div class="w3-third">
                <div class="w3-margin w3-padding w3-card">
                    <h3>Tomáš Perutka</h3>
                    <p class="w3-opacity"><i>Žije</i></p>
                    Jsom Tom Atom a rád si hraju s šipkami.
                </div>
            </div>
            
            <div class="w3-third">
                <div class="w3-margin w3-padding w3-card">
                    <h3>Tomáš Novotný</h3>
                    <p class="w3-opacity"><i>Hraje</i></p>
                    Složím tvoji kostu pod 20 vteřin!
                </div>
            </div>
        </div> 

    </section>
</div>


{% endblock %}