{% extends "core/base.html" %}
{% load extras %}

{% block title %} login {% endblock %}

{% block content %}
    <section class="hero md:h-screen links-secondary mt-10">
        <form method="POST" action="" class="block hero-content w-10/12 md:w-5/12 lg:w-3/12">
	    {% csrf_token %}
            <h2 class="text-center mb-3">Přihlášení</h2>
            {% if request|namespace_prefix == "mathrace" %}
                <div class="alert alert-info my-2 p-3 text-sm block text-justify">Můžete se přihlásit účtem od BRKOSu, příp. účtem z minulého roku.</div>
            {% else %}
                <div class="alert alert-warning my-2 p-3 text-sm block text-justify">Po přechodu na nový web zůstaly všechny uživatelské účty v platnosti.
                Hesla však z bezpečnostních důvodů neplatí. Pokud jste již na našem starém webu účet měli, neregistrujte se znovu, ale <a href="{% url 'contest:reset_password' %}" class="inline links-secondary">obnovte si prosím heslo</a>.</div>
            {% endif %}

            <input class="input input-bordered my-2 w-full" type="text" name="username" placeholder="Jméno"><br>

            <input class="input input-bordered my-2 w-full" type="password" name="password" placeholder="Heslo"><br>
            <p class="mt-0 mb-4"><a href="{% url 'reset_password'|prefix_reverse:request %}" class="text-sm px-1">Zapomenuté heslo</a></p>

            <button class="btn btn-primary btn-block" type="submit" class="button primary">Přihlaš se!</button>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="message {{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

        </form>
    </section>
{% endblock %}
