{% extends "core/base.html" %}
{% load extras %}

{% block title %} novinky {% endblock %}

{% block content %}
    <section class="center-block my-10 lg:my-20">
        <h1 class="mb-5">Archiv novinek</h1>
    {% for contrib in contribs %}
        {% include 'core/parts/contrib.html' %}
        </br>
    {% endfor %}
    <div class="grid justify-center"><div class="btn-group">
        {% for i in pages %}
            {% if i == page_no %}
            <button class="btn">{{ i }}</button>
            {% else %}
            <a class="btn btn-primary" href="{% url 'old_contribs'|prefix_reverse:request page_no=i %}">{{ i }}</a>
            {% endif %}
        {% endfor %}
    </div></div>
    </section>

{% endblock %}