{% extends "core/base.html" %}

{% block title %} profil {% endblock %}

{% block content %}

<section class="center-block my-10 lg:my-20 links-secondary">
    <div>
        <h1>Soutěžící {{ contestant }}</h1>
        <p>Škola: {{ contestant.school }}</p>
        <p>{{ contestant.grade }}. ročník</p>
        <p>Matematická třída: {% if contestant.math_class %} ano {% else %} ne {% endif %} </p>
</section>

{% endblock %}