{% extends "core/base.html" %}
{% load extras %}

{% block title %} obnova hesla {% endblock %}

{% block content %}
<section class="center-block my-10 lg:my-20 links-secondary">
    <h1 class="text-center">Zapomenuté heslo</h1>
  <p class="text-lg">Nové heslo bylo uloženo. Můžete se <a href="{% url 'login'|prefix_reverse:request %}">přihlásit</a>.</p>
</section>
{% endblock %}
