{% extends "core/base.html" %}

{% block title %} obnova hesla {% endblock %}

{% block content %}
<section class="center-block my-10 lg:my-20">
    <h1 class="text-center">Zapomenuté heslo</h1>
  <form method="POST" class="block mx-auto text-center max-w-sm my-5">
    {% csrf_token %}
    {% include "core/parts/form.html" %}
    <button type="submit" class="btn my-5 btn-block btn-primary">Uložit</button>
  </form>
</section>
{% endblock %}
