{% extends "core/base.html" %}

{% block title %} obnova hesla {% endblock %}

{% block content %}
<section class="center-block my-10 lg:my-20">
  {% if email_sent %}
  <div class="alert alert-success mb-4">Email s instrukcemi byl odeslán.</div>
  {% else %}
  <h1 class="text-center">Zapomenuté heslo</h1>
  <p class="mx-auto max-w-sm mt-7">Zadejte své přihlašovací jméno. Na emailovou adresu vám budou odeslány instrukce pro obnovení hesla.</p>
  <form method="POST" class="block mx-auto text-center max-w-sm my-5">
    {% csrf_token %}
    {% include "core/parts/form.html" %}
    <button type="submit" class="btn my-5 btn-block btn-primary">Resetovat</button>
  </form>
  {% endif %}
</section>
{% endblock %}
