{% extends "core/base.html" %}
{% load extras %}
{% load static %}


{% block title %} výsledky {% endblock %}

{% block head %}
    {% include 'core/parts/latex.html' %}
{% endblock %}

{% block content %}
<section class="py-10 center-block">
    <h1 class="text-center my-10">Výsledky {{ displayed_contest.order | romanize }}. ročníku</h1>
    <h2 class="text-center my-10"> 
        {% if cumulative %}
        Výsledky po {{ displayed_collection_order }}. sérii</h2>
        {% else %}
        Výsledky {{ displayed_collection_order }}. série
        {% endif%}
    </h2>
    <div class="navbar px-3 pb-1 shadow-lg bg-base-100 horizontal rounded-box my-10">
        {% for task_collection in task_collections %}
        {% if task_collection.release_results %}
        <div class="dropdown  dropdown-hover">
            <div tabindex="0" class="mb-2 btn {%if displayed_collection_order == task_collection.order %}btn-accent{% endif %} mr-2">{{task_collection.order}}. série</div>
            <ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-48 bottom-auto top-full origin-top">
                <li class="text-center border-b-2 p-2 my-2">{{ task_collection.name }}</li>
                <!-- <div class="w-full divider mx-4 my-0"></div> -->
                <li><a href="{% url 'contest:results' contest_order=this_contest_order collection_order=task_collection.order%}" class="">Výsledky série</a></li>
                <li><a href="{% url 'contest:results_cumulative' contest_order=this_contest_order collection_order=task_collection.order%}" class="">Výsledky po sérii</a></li>
            </ul>
        </div>
        {% endif %}
        {% endfor %}
    </div>
{% if not results %}
    <p class="text-lg">Výsledky této série zatím nebyly zveřejněny.</p>
</section>
{% else %}
</section>
<div class="overflow-x-auto px-10">
<table id="results_table" class="table mx-auto">
    <thead>
    <tr>
        {% for i, th in head %}
            <th onclick="w3.sortHTML('#results_table', '.item', 'td:nth-child({{ i }})')">{{ th }}</th>
        {% endfor %}
    </tr>
    </thead>

    <tbody>
    {% for row in results %}
        <tr class="item hover links-secondary">
            {% for col in row %}
                {% if col.type_cell == "plain" %}
                <td>{{ col.value }}</td>
                {% elif col.type_cell == "user_url" %}
                <td> <a href="{% url 'contest:public_account' username=col.username %}">{{ col.value }}</a> </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endif %}

{% endblock %}