<html>
<head>
</head>
<body>
<form enctype="multipart/form-data" method="post" action="/user/upload/{{contest.contest_type.abbreviation}}/{{collection}}">
{% csrf_token %}
{{ form.as_ul }}
<input type="submit" value="Odeslat">
</form>
</body>
</html>
