{% extends "core/base.html" %}
{% load extras %}
{% load static %}


{% block title %} BRKOS úlohy {% endblock %}
{% block head %}
    <!-- <style>
        @font-face {
            font-family: Computer Modern;
            src: url( "{% static 'core/fonts/cmu/cmunorm.tff' %}" );
        }
    </style> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Old+Standard+TT">
    {% include 'core/parts/latex.html' %}
{% endblock %}

{% block content %}
<section class="padding">
<div class="content">
    <div class="tasks">
        <h1>{{ collection.name }}</h1>

        {% for task in tasks %}
        <div>
            {% include 'contest/parts/solution.html' %}
        </div>
        {% endfor%}
    </div>
</div>
</section>
{% endblock %}