{% extends "core/base.html" %}
{% load static %}


{% block title %} nastavení {% endblock %}

{% block content %}
<section class="center-block my-10 lg:my-20">
    <div class="my-10">
        {% include 'contest/parts/update_account_form.html' %}
    </div>
</section>
{% endblock %}
