{% extends "core/base.html" %}
{% load extras %}

{% block title %} ověření účtu {% endblock %}

{% block content %}
<section class="center-block my-10 lg:my-20">
{{ verification | gen_file_refs | markdown_to_html |safe }}
<p><b>Email:</b> {{ request.user.email }}</p>
{% if request.user.is_verified %}
<div class="alert alert-success">Váš uživatelský účet byl již ověřen.</div>
{% elif request.user.can_email %}
<div class="flex justify-center"><a class="btn btn-primary" href="{% url 'verification_send'|prefix_reverse:request %}">Poslat ověřovací email znovu</a></div>
{% else %}
<div class="alert alert-warning">Ověřovací email půjde znovu odeslat až po jedné minutě.</div>
{% endif %}
</section>

{% endblock %}