{% extends "core/base.html" %}
{% load extras %}

{% block title %} ověření účtu {% endblock %}

{% block content %}
<section class="center-block my-10 lg:my-20 links-secondary">
    <h2 class="mb-5">Ověření účtu</h2>
    {% if success %}
    <div class="alert alert-success block">Váš uživatelský účet byl ověřen. {% if request.user.is_authenticated %}Můžete plnohodnotně využívat svůj uživatelský účet.{% else %}Můžete se <a class="inline" href="{% url 'login'|prefix_reverse:request %}">přihlásit</a>.{% endif %}</div>
    {% else %}
    <div class="alert alert-error block">Vyskytla se chyba. <a class="inline" href="{% url 'verification_info'|prefix_reverse:request %}">Zkuste ověření prosím znovu.</a></div>
    {% endif %}
</section>

{% endblock %}