{% extends "core/base.html" %}
{% load extras %}

{% block title %} ověření účtu {% endblock %}

{% block content %}
<section class="center-block my-10 lg:my-20">
    <h2 class="mb-5">Ověření účtu</h2>
    <div class="alert alert-success">Ověřovací mail byl odeslán.</div>
</section>

{% endblock %}