{% extends "core/base.html" %}
{% load extras %}
{% load static %}


{% block title %} úlohy {% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Old+Standard+TT">
{% endblock %}

{% block content %}

<section class="center-block py-10 links-secondary">
    <div>
        <h1 class="text-center my-10">{{ collection_order }}. série — úloha {{ task.name }}</h1>

        {{ instructions | gen_file_refs | markdown_to_html | safe }}

        <div class="card w-full bg-base-200 shadow-inner my-8 overflow-visible links-secondary">
            <div class="card-body w-full">
                <h4 class="font-bold">Zadání</h4>
                <div class="font-math italic math-text">
                    {{ task.text | gen_file_refs | markdown_to_html | safe }}
                </div>
            </div>
        </div>
    </div>

    <div class="mx-auto flex flex-col md:flex-row"> 
        <div class="w-full md:w-1/2 md:pr-4 mb-6 md:mb-0">
            <textarea id="textarea" class="textarea w-full leading-5 resize-none mt-1 border rounded-lg border-gray-200" style="box-shadow: none;" autocomplete="off" placeholder="Začněte psát...">{{ former_text }}</textarea>

            <div class="w-full flex">
                <p class="text-sm text-gray-400 w-3/5 px-1 mt-3" id="last_save_p"><span id="last_save_time"></span></p>
                <div id="save" class="btn btn-primary min-h-0 h-10 mt-2 w-1/5" onclick="cmp.save_solution('{% url 'contest:user_submission_save' contest_order=task.collection.contest.order collection_order=collection_order task_order=task.order %}')">Uložit</div>
                <div class="btn btn-neutral min-h-0 h-10 mt-2 w-1/5 ml-1" onclick="close_window()">Zavřít</div>
            </div>
            <div class="w-full flex justify-end">
            </div>
        </div>

        <div class="w-full md:w-1/2 md:pl-4" id="content">
            {{ former_text | gen_file_refs | markdown_to_html | safe }}
        </div>
    </div>
</section>

<script>
    window.onbeforeunload = () => {
        if(touched) return true;
    };

    var touched = false;
    var timeout_save_id = null;
    var timeout_compile_fixed_id = null;
    var timeout_compile_delay_id = null;

    $(document).ready(function(){
        $("#textarea").css("height","0");
        $("#textarea").css("height",($("#textarea").prop("scrollHeight")+40)+"px");
        timeout_save();
    });

    $("#textarea").keyup(function(){
        $(this).css("height","0");
        $(this).css("height",($(this).prop("scrollHeight")+40)+"px");
        touched = true;
        timeout_compile();
        timeout_save();
    });

    function timeout_save(reset = false)
    {
        if(reset)
        {
            clearTimeout(timeout_save_id);
            timeout_save_id = null;
        }
        if(timeout_save_id === null) timeout_save_id = setTimeout(function(){
            timeout_save_id = null;
            if(touched) cmp.save_solution("{% url 'contest:user_submission_save' contest_order=task.collection.contest.order collection_order=collection_order task_order=task.order %}");
        },60000);
    }

    function timeout_compile()
    {
        clearTimeout(timeout_compile_delay_id);
        timeout_compile_delay_id = setTimeout(compile,3000);
        if(timeout_compile_fixed_id === null) timeout_compile_fixed_id = setTimeout(compile,15000);
    }

    function timeout_compile_clear()
    {
        if(timeout_compile_fixed_id !== null)
        {
            clearTimeout(timeout_compile_fixed_id);
            timeout_compile_fixed_id = null;
        }
        if(timeout_compile_delay_id !== null)
        {
            clearTimeout(timeout_compile_delay_id);
            timeout_compile_delay_id = null;
        }
    }

    function compile(){
        timeout_compile_clear();
        $.ajax({
            type: "POST",
            url: "{% url 'md_to_html' %}",
            data: $("#textarea").val(),
            contentType: false,
            processData: false,
            headers: { "X-CSRFToken": CSRF_TOKEN },
            success: function(response){
                $("#content").html(response);
                MathJax.typeset();
            },
            error: function (request, status, error) {
                alert(request.responseText);
            },
            dataType: "text"
        });
    }

    function close_window(){
        /*if(!touched || confirm("Rozepsané řešení není uložené. Opravdu chcete okno zavřít?"))
        {
            window.opener.location.reload();
            window.close();
        }*/
        window.close();
    }
</script>

{% endblock %}
