{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script src="{% static "build/main.js" %}"></script>
<script>
    var CSRF_TOKEN = "{{ csrf_token }}";
</script>

{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}

<div class="mx-auto flex flex-col md:flex-row">
<div class="w-full md:w-1/2 md:mr-4" style="min-width: 42vw;">
    <div class="tabs">
        {% if submission.content %}<a class="tab tab-lifted tab-active" id="tab-file" onclick="show_file()">Soubor</a>{% endif %}
        {% if submission.online_submission %}<a class="tab tab-lifted {% if not submission.content %}tab-active{% endif %}" id="tab-text" onclick="show_text()">Text</a>{% endif %}
    </div>

    <script>
        show_file = function()
        {
            $("#tab-text").removeClass("tab-active");
            $("#tab-file").addClass("tab-active");
            $("#text-submission").addClass("hidden");
            $("#file-submission").removeClass("hidden");
        }

        show_text = function()
        {
            $("#tab-file").removeClass("tab-active");
            $("#tab-text").addClass("tab-active");
            $("#file-submission").addClass("hidden");
            $("#text-submission").removeClass("hidden");
        }
    </script>

{% if submission.content %}
<div id="file-submission">
{% if is_pdf %}
    <div id="appendable"></div>
    <script>
        $("#appendable").append("<p style='color:red' id='loadingpdf'>Načítání</p>");
        const loadingTask = pdfjsLib.getDocument('{{ submission.content.url }}');
        (async () => {
            const pdf = await loadingTask.promise;
            for (var i=1; i <= pdf.numPages; i++)
            {
                $("#appendable").append("<canvas class='w-full border-2 my-2' id='canvas"+i+"'></canvas>");
                const page = await pdf.getPage(i);
                const scale = 1.5;
                const viewport = page.getViewport({scale});
                const outputScale = window.devicePixelRatio || 1;
                const canvas = document.getElementById("canvas"+i);
                const context = canvas.getContext("2d");
                canvas.width = Math.floor(viewport.width * outputScale);
                canvas.height = Math.floor(viewport.height * outputScale);
                const transform = outputScale !== 1 
                    ? [outputScale, 0, 0, outputScale, 0, 0] 
                    : null;
                const renderContext = {
                    canvasContext: context,
                    transform,
                    viewport,
                };
                page.render(renderContext);
                $("#loadingpdf").remove();
            }
        })();
    </script>
{% else %}
    <img class="w-full" src="{{ submission.content.url }}">
{% endif %}
</div>
{% endif %}

{% if submission.online_submission %}
<div id="text-submission" class="{% if submission.content %}hidden{% endif %} pt-5">
    {{ text_submission }}
</div>
{% endif %}

</div>
<div class="w-full md:w-1/2 md:ml-4">

<h2>Úloha {{ submission.task }}, {{ submission.contestant }}</h2>

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}{% if form_url %}action="{{ form_url }}" {% endif %}method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
    {% for line in fieldset %}
        {% for field in line %}
            {% if field.field.name == 'score' %}
                <p class="font-bold">Body</p>
                {{ field.errors }}
                {{ field.field }}
            {% endif %}
            {% if field.field.name == 'feedback_text' %}
                <p class="font-bold">Komentář (text)</p>
                {{ field.errors }}
                {{ field.field }}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}
{% endblock %}

{% prepopulated_fields_js %}

<p class="font-bold">Komentář (soubor)</p>

<a class="button" style="padding: 5px 6px; font-size: 1.25rem;" onclick="$('#feedback-upload-file-dialog').trigger('click');">
    <i class="fas fa-file-upload"></i></a>
&nbsp;
{% if submission.feedback_file %}
    <a class="button" style="padding: 5px 6px; font-size: 1.25rem;" target="_blank" href={{submission.feedback_file.url}}><i class="fas fa-file-pdf"></i></a>
{% endif %}

<div class="mt-8">
    {% if prev %}<a href="{% url 'admin:contest_ratesubmission_change' prev.id %}" class="btn btn-sm float-left mr-2 px-4" style="line-height: 2; height: 45px; color: white;">Předchozí</a>{% endif %}
    <input class="btn btn-sm block float-left mr-2" style="background-color: green; line-height: 2; padding: 0 16px; height: 45px;" type="submit" value="Uložit" name="_continue">
    {% if next %}
    <input class="btn btn-sm block float-left mr-2" style="background-color: green; line-height: 2; padding: 0 16px; height: 45px;" type="submit" value="Uložit a další" name="_next">
    <a href="{% url 'admin:contest_ratesubmission_change' next.id %}" class="btn btn-sm float-left px-4" style="line-height: 2; height: 45px; color: white;">Další</a>
    {% endif %}
</div>

</form>

<form id="feedback-upload-form" action="">
    <input id="feedback-upload-file-dialog"
           type="file" style="display:none"
           onchange="cmp.upload('#feedback-upload-file-dialog', '{% url 'feedback_upload' submission_id=submission.id %}?file_type=')"/>
</form>

</div>
</div>
{% endblock %}
