{% extends "core/base.html" %}

{% load extras %}
{% load static %}

{% block title %} soustředění {% endblock %}

{% block content %}
<section class="center-block my-10 lg:my-20">
    <h1 class="text-center mx-auto my-10">Soustředění</h1>
    {% if camp %}
    <div class="card bg-base-200 shadow-inner">
        <div class="card-body p-5 md:p-8">
            <h2 class="py-2 md:py-4">{{camp.name}}</h2>
            <p class="my-1">Kde: <span class="font-bold">{{camp.place}}</span></p>
            <p class="my-1">Kdy: <span class="font-bold">{{camp.start}} — {{camp.end}}</span></p>
            <p class="my-1">Registrace: <span class="font-bold">{{camp.registration_from}} — {{camp.registration_to}}</span></p>
            {{camp.description | markdown_to_html | safe }}
        
            {% if own_application or form %}
            <div class="card light mt-4">
                <div class="card-body p-4 md:p-8">
                    
                    {% if own_application %}
                    {% include 'camp/parts/own_application.html' %}
                    {% endif %}

                    {% if form %}
                    <h2>Přihlašovací formulář</h2>
                    <form method="POST" class="text-center form-gapped" action="">
                        {% csrf_token %}
                        {% for field in form %}
                            {% for error in field.errors %}
                            <div class="alert alert-error my-1 text-left">
                                {{field.label}}:<br>{{error}}
                            </div>
                            {% endfor %}        
                        {% endfor %}

                        {% for field in form.visible_fields %}
                        {{ field }}
                        {% endfor %}
                        
                        <a href="{% static 'camp/GDPR.pdf' %}" target="_blank"><button type="button" class="btn md:btn-wide mb-2">Přečíst GDPR</button></a>
                        <button type="submit" class="btn btn-primary md:btn-wide mt-8">Registruj se!</button>
                    </form>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <div class="alert alert-warning">Pro registraci je třeba se přihlásit a mít ověřený uživatelský účet.</div>
            {% endif %}
        </div>
    </div>
</section>
<section class="center-block my-10 lg:my-20 overflow-x-auto">
    <h2 class="my-4">Přihlášení účastníci</h2>
    {% if application_list %}
        {% include 'camp/parts/application_list.html' %}
    {% else %}
    <p>Zatím nejsou přihlášeni žádní účastníci.</p>
    {% endif %}
    {% else %}
    <div class="links-secondary">
        {{ pretext | gen_file_refs | markdown_to_html |safe }}
        </div>
    {% endif %}
</section>

<section class="center-block my-10 lg:my-20">
    <h2 class="mb-5">Proběhlo</h2>
    {% for old_camp in old_camps %}
        <article class="card bg-base-200 shadow-inner text-base-content mb-7">
            <div class="card-body">
                <h3 class="card-title inline-block text-2xl">{{ old_camp.name }}</h3>
                <div class="divider divider-thin border-0 mt-0"></div>
                Kdy: {{ old_camp.start }} – {{ old_camp.end }}<br>
                Kde: {{ old_camp.place }}
                {{ old_camp.description | markdown_to_html | safe }}
                {% if old_camp.photo_link %}
                <a href="{{old_camp.photo_link}}" target="_blank" class="btn btn-primary w-28"><i class="fas fa-images"></i>&emsp;Fotky</a>
                {% endif %}
            </div>
        </article>
    {% endfor %}
    {% if link_more %}
        <p><a class="link-secondary" href="{% url 'contest:camp:camp_more' %}">Zobrazit další...</a></p>
    {% endif %}
</section>
{% endblock %}