<form id="contest-{{ contest.id }}-form" action="">
    <input id="contest-{{contest.id}}-file-type"
           type="text" style="display:none">
    <input id="contest-{{contest.id}}-file-dialog"
           type="file" style="display:none"
           onchange="cmp.upload_reload('#contest-{{contest.id}}-file-dialog', '{% url 'contest_file_upload_mathrace' contest_id=contest.id %}?file_type='+$('#contest-{{contest.id}}-file-type').val())"/>
</form>

<table>
    <tr><th>Výsledky</th><th>Statistika</th></tr>
    <tr>
        <td><a class="button" onclick="$('#contest-{{contest.id}}-file-type').val('scoreboard');$('#contest-{{contest.id}}-file-dialog').trigger('click');">
                <i class="fas fa-file-upload"></i></a>&ensp;
            {% if contest.scoreboard_html %}
            <a class="button" target="_blank" href={{contest.scoreboard_html.url}}><i class="fas fa-file-pdf"></i></a>
            {% endif %}
        </td>
        <td><a class="button" onclick="$('#contest-{{contest.id}}-file-type').val('stats');$('#contest-{{contest.id}}-file-dialog').trigger('click');">
                <i class="fas fa-file-upload"></i></a>&ensp;
            {% if contest.stats_html %}
                <a class="button" target="_blank" href={{contest.stats_html.url}}><i class="fas fa-file-pdf"></i></a>
            {% endif %}
        </td>
    </tr>
</table>