<div class="card bg-base-200 shadow-inner">
    <div class="card-body">
        <h2>Můj tým</h2>
        <p>
            <table class="hidden md:table">
                <tr><td style="min-width: 30%;">Název:</td> <td><b>{{ team.name }}</b></td></tr>
                <tr><td>Underground:</td> <td>{% if team.underground %}ANO{% else %}NE{% endif %}</td></tr>
                {% if not team.underground %}
                <tr><td>Škola:</td> <td>{{ team.school }}</td></tr>
                {% endif %}
                <tr><td>Kontaktní email:</td> <td>{{ team.email }}</td></tr>
                <tr><td class="h-4"></td></tr>
                <tr><td>1. člen:</td> <td>{{ team.first_member }}</td></tr>
                <tr><td>2. člen:</td> <td>{{ team.second_member }}</td></tr>
                <tr><td>3. člen:</td> <td>{{ team.third_member }}</td></tr>
                <tr><td>4. člen:</td> <td>{{ team.fourth_member }}</td></tr>
            </table>
            <dl class="md:hidden">
                <dt>Název:</dt> <dd><b>{{ team.name }}</b></dd>
                <dt>Underground:</dt> <dd>{% if team.underground %}ANO{% else %}NE{% endif %}</dd>
                {% if not team.underground %}
                <dt>Škola:</dt> <dd>{{ team.school }}</dd>
                {% endif %}
                <dt>Kontaktní email:</dt> <dd>{{ team.email }}</dd>
                <dt class="mt-4">1. člen:</dt> <dd>{{ team.first_member }}</dd>
                <dt>2. člen:</dt> <dd>{{ team.second_member }}</dd>
                <dt>3. člen:</dt> <dd>{{ team.third_member }}</dd>
                <dt>4. člen:</dt> <dd>{{ team.fourth_member }}</dd>
            </dl>
        {% if team.photo %}
        <p>Týmová fotka:</p>
        <div class="w-64 h-56" style="background-image: url({{team.photo.url}}); background-position: center center; background-repeat: no-repeat; background-size: cover;"></div>
        {% endif %}
        <p><a href="{% url 'mathrace:update_team' %}" class="btn btn-outline btn-secondary mb-2">Upravit údaje</a>
        {% if team.photo %}
        <a class="btn btn-outline border-error text-error hover:bg-error hover:text-base-100 hover:border-error mb-2" onclick="cmp.request_reload('{% url 'mathrace:delete_team_photo' %}')">Smazat fotku</a>
        {% else %}
        <a class="btn btn-outline btn-secondary mb-2" id="upload-btn">Nahrát fotku</a>
        <script>
            cmp.spawn(cmp.UploadFile, 'upload-btn', props={
            url: "{% url 'mathrace:upload_team_photo' %}",
            children: "Nahrát fotku"
            });
        </script>
        {% endif %}
        </p>
    </div>
</div>