<div class="sticky top-0 flex justify-end"><div class="text-lg border rounded-lg px-3 py-1 m-1.5 bg-accent" style="width: 205px">Čas serveru: <span id="hrs">00</span>:<span id="min">00</span>:<span id="sec">00</span></div></div>

<script>
    $(()=>{
// Set the date we're counting down to
var hrs = {% now 'H' %};
var min = {% now 'i' %};
var sec = {% now 's' %};

// Update the count down every 1 second
var countDown = setInterval(function() {
  sec++;
  if(sec==60)
  {
    min++;
    sec=0;
  }
  if(min==60)
  {
    hrs++;
    min=0;
  }
  if(hrs==24) hrs=0;

  var d_hrs = (hrs < 10 ? "0"+hrs : hrs);
  var d_min = (min < 10 ? "0"+min : min);
  var d_sec = (sec < 10 ? "0"+sec : sec);

  $("#hrs").text(d_hrs);
  $("#min").text(d_min);
  $("#sec").text(d_sec);
}, 1000);
});
</script>