{% load extras %}


<div class="card w-full bg-base-200 shadow-inner my-10 overflow-visible links-secondary">
    <div class="card-body w-full">
        <h4 class="font-bold">Úloha {{ task.name }}:</h4>
        <div class="font-math italic math-text">
            {{ task.text | gen_file_refs | markdown_to_html | safe }}
        </div>
        {% if collection.release_solution %}
            <h4 class="font-bold mt-3"><a class="cursor-pointer" onclick="$('#solution_{{ task.order }}').toggle()">Řešení</a></h4>
            <div class="font-math italic math-text">
                <div id="solution_{{ task.order }}" class="hidden">{{ task.model_solution | gen_file_refs | markdown_to_html | safe }}</div>
            </div>
                {% if task.comment %}
                    <h4 class="font-bold mt-3"><a class="cursor-pointer" onclick="$('#comment_{{ task.order }}').toggle()">Komentář</a></h4>
                    <div class="font-math italic math-text">
                        <div id="comment_{{ task.order }}" class="hidden">{{ task.comment | gen_file_refs | markdown_to_html | safe }}</div>
                    </div>
                {% endif %}
        {% endif %}

        <div class="card-actions justify-end flex-col md:flex-row">
            {% if collection.is_open %}
                {% if not user.is_authenticated %}
                <a class="btn btn-primary" style="color: white; text-decoration: none;" href="#my-modal">
                    Přihlásit   
                </a>
                {% else %}
                    {% if team_id %}
                    <table class="w-full hidden md:table"><tr>
                    <td class="w-1/4 text-success h-12 text-xl"><span class="{% if not task.solved %}hidden{% endif %}" id="solved-{{ task.id }}">Vyřešeno</span></td>
                    <td class="w-1/4 text-error h-12 text-xl">Chybně: <span id="wrong-{{ task.id }}">{{task.wrong}}</span>x</td>
                    <td class="w-1/2 text-right">
                        <input type="text" class="input" placeholder="Odpověď" id="input-{{ task.id }}">
                        <div class="active:text-white btn btn-primary" onclick="cmp.send_answer({{ task.id }},{{ team_id }},'{{ token }}')">
                            Odeslat   
                        </div>
                    </td>
                    </tr></table>
                    <p class="text-success h-12 text-lg md:text-xl md:hidden"><span class="{% if not task.solved %}hidden{% endif %}" id="solved-{{ task.id }}">Vyřešeno</span></p>
                    <p class="text-error h-12 text-lg md:text-xl md:hidden">Chybně: <span id="wrong-{{ task.id }}">{{task.wrong}}</span>x</p>
                    <div class="md:hidden">
                        <input type="text" class="input w-44" placeholder="Odpověď" id="input-{{ task.id }}">
                        <div class="active:text-white btn btn-primary" onclick="cmp.send_answer({{ task.id }},{{ team_id }},'{{ token }}')">
                            Odeslat   
                        </div>
                    </div>
                    {% else %}
                    <a class="btn btn-primary" style="color: white; text-decoration: none;" href="{% url 'mathrace:register_team' %}">
                        Registrovat tým   
                    </a>
                    {% endif %}
                {% endif %}
            {% endif %}       
        </div>
    </div>
</div>
