{% load static %}
<div class="card md:card-side bg-base-100 shadow-xl mb-8 rounded-lg border">
    <div class="hidden md:block w-64 h-56" style="min-width: 16rem; background-image: url({% if team.photo %}{{team.photo.url}}{% else %}{% static 'core/img/default_team.jpg' %}{% endif %}); background-position: center center; background-repeat: no-repeat; background-size: cover;"></div>
    <div class="md:hidden w-full" style="padding-top: 70%; background-image: url({% if team.photo %}{{team.photo.url}}{% else %}{% static 'core/img/default_team.jpg' %}{% endif %}); background-position: center center; background-repeat: no-repeat; background-size: cover;"></div>
    <div class="card-body p-5 overflow-hidden">
    <h2 class="card-title truncate">{{ team.name }}</h2>
    {% if not team.underground %}<p class="my-1 truncate"><i>{{ team.school }}</i></p>{% endif %}
    <p class="my-1">{{ team.first_member }}<br>
    {{ team.second_member }}<br>
    {{ team.third_member }}<br>
    {{ team.fourth_member }}</p>
    </div>
</div>