{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrahead %}{{ block.super }}
<script src="{% static "build/main.js" %}"></script>
<script>
  var CSRF_TOKEN = "{{ csrf_token }}";
</script>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link href="{% static "core/fonts/font-awesome/css/all.css" %}" rel="stylesheet">
{% endblock %}

{% block object-tools-items %}
  {% if user.is_superuser %}
    <li>
        <a href="dump/">
            {% trans "Dump data" %}
        </a>
    </li>
    <li>
        <a href="{% url 'load-data' %}{% if is_popup %}?_popup=1{% endif %}">
            {% trans "Load data" %}
        </a>
    </li>
  {% endif %}
  {{ block.super }}
{% endblock %}
