{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script src="{% static "build/main.js" %}"></script>
<script>
    var CSRF_TOKEN = "{{ csrf_token }}";
</script>
{% endblock %}

{% block content %}
{% if original.pk %}
<fieldset class="module aligned {{ fieldset.classes }}">
<h2>Generování zdrojových kódů v Latexu&nbsp;&nbsp;|
<a onclick="fetch_to_clipboard('{% url "tasks_latex" id=original.pk %}')" class="button">Zadání</a>
<a onclick="fetch_to_clipboard('{% url "solutions_latex" id=original.pk %}')" class="button">Řešení</a>
<a onclick="fetch_to_clipboard('{% url "latex_results"  id=original.pk %}')" class="button">Výsledkovka</a>
<a onclick="fetch_to_clipboard('{% url "latex_results_cumulative"  id=original.pk %}')" class="button">Výsledkovka (kumulativní)</a>
</h2>

<script type="text/javascript">{% include "contest/scripts/fetch_to_clipboard.js" %}</script>
</fieldset>
{% endif %}

{{ block.super }}
{% endblock %}
