<table class="table mx-auto w-full">
    <thead>
    <tr><th>Jméno</th><th>Škola</th><th>Status</th></tr>
    </thead>
    <tbody>
    {% for application in application_list %}
        <tr class="hover"><td>{{ application.participant.full_name }}</td><td class="max-w-xs truncate">{{ application.participant.contestant.school }}</td><td>{{ application.get_status }}</td></tr>
    {% endfor %}
    </tbody>
</table>