<div class="text-accent mb-4 text-lg">Na toto soustředění jsi již přihlášen.</div>

<table class="hidden md:table">
    <tr><td>Status: </td><td class="font-bold text-accent"> {{ own_application.get_status }}</td></tr>
    <tr><td>Telefon: </td><td class="font-bold">{{ own_application.phone_number}}</td></tr>
    <tr><td>Účast: </td><td class="font-bold">{% if own_application.attendance_entire %}po celou dobu{% else %}{{ own_application.attendance_spec }}{% endif %}</td></tr>
    <tr><td>Doprava: </td><td class="font-bold">{% if own_application.transport_common %}společně{% else %}{{ own_application.transport_spec }}{% endif %}</td></tr>
    <tr><td>Slevová kartička: </td><td class="font-bold">{% if own_application.discount_card %}ano{% else %}ne{% endif %}</td></tr>
    <tr><td>Léky: </td><td class="font-bold">{% if own_application.medicaments %}{{ own_application.medicaments_spec }}{% else %}žádné{% endif %}</td></tr>
    <tr><td>Alergie: </td><td class="font-bold">{% if own_application.allergies %}{{ own_application.allergies_spec }}{% else %}žádné{% endif %}</td></tr>
    <tr><td>Diety: </td><td class="font-bold">{% if own_application.diets %}{{ own_application.diets_spec }}{% else %}žádné{% endif %}</td></tr>
    <tr><td>Dospělý: </td><td class="font-bold">{% if own_application.adult %}ano{% else %}ne{% endif %}</td></tr>
    {% if not own_application.adult %}
    <tr><td>Telefon na rodiče: </td><td class="font-bold">{{ own_application.parent_phone_number }}</td></tr>
    {% endif %}
</table>

<dl class="md:hidden">
    <dt>Status: </dt><dd class="text-accent"> {{ own_application.get_status }}</dd>
    <dt>Telefon: </dt><dd>{{ own_application.phone_number}}</dd>
    <dt>Účast: </dt><dd>{% if own_application.attendance_entire %}po celou dobu{% else %}{{ own_application.attendance_spec }}{% endif %}</dd>
    <dt>Doprava: </dt><dd>{% if own_application.transport_common %}společně{% else %}{{ own_application.transport_spec }}{% endif %}</dd>
    <dt>Slevová kartička: </dt><dd>{% if own_application.discount_card %}ano{% else %}ne{% endif %}</dd>
    <dt>Léky: </dt><dd>{% if own_application.medicaments %}{{ own_application.medicaments_spec }}{% else %}žádné{% endif %}</dd>
    <dt>Alergie: </dt><dd>{% if own_application.allergies %}{{ own_application.allergies_spec }}{% else %}žádné{% endif %}</dd>
    <dt>Diety: </dt><dd>{% if own_application.diets %}{{ own_application.diets_spec }}{% else %}žádné{% endif %}</dd>
    <dt>Dospělý: </dt><dd>{% if own_application.adult %}ano{% else %}ne{% endif %}</dd>
    {% if not own_application.adult %}
    <dt>Telefon na rodiče: </dt><dd>{{ own_application.parent_phone_number }}</dd>
    {% endif %}
</dl>