<div class="relative inline-block w-full links-secondary text-left">
    <input id="actual_input" type="text" name="{{ widget.name }}" class="hidden" {% if widget.value %}value="{{ widget.value }}"{% endif %}>
    <div class="alert alert-success text-left text-sm px-4 py-2 relative items-start {% if not widget.value %} hidden {% endif %}" id="chosen_school">
        <span>{{ widget.value }}</span>
        <div class="text-2xl cursor-pointer w-fit absolute right-0 top-0 h-full pr-3 flex items-center" style="margin: 0 !important" onclick="$('#chosen_school').hide();$('#actual_input').val('');">&times;</div></div>
    <input id="autocomplete_input" type="text" class="input input-bordered my-2 w-full" autocomplete="off" placeholder="Škola">
    <ul id="autocomplete_ul" class="absolute z-10 hidden bg-gray-200 rounded-box shadow w-full cursor-pointer">
    {% for school in schools %}
        <li class="text-left text-ellipsis autocomplete_li hover:bg-primary px-4 py-1 text-sm" hash="{{school.hash}}">{{school.name}}</li>
    {% endfor %}
    </ul>
    <a href="#" class="text-sm self-start px-1" onclick="$('#school_disclaimer').show();other_school=true;">Moje škola nelze vyhledat</a>
    <p id="school_disclaimer" class="text-sm hidden mt-0 px-1 text-gray-400">Našeptávač by měl obsahovat všechny střední školy v ČR.
        Pokuste se tedy prosím svoji školu najít. Pokud se vám to skutečně nepovede, zadejte oficiální název své školy a zmáčkněte enter.</p>
</div>
<script>
    var other_school = false;
    $(document).ready(function(){
        var lis = $(".autocomplete_li");
        for(var i=0; i < lis.length; i++)
        {
            $(lis[i]).click(function(){
                var value = $(this).text();
                $("#actual_input").val(value);
                $("#chosen_school span").text(value);
                $("#chosen_school").css("display","flex");
                $("#autocomplete_input").val("");
                $("#autocomplete_ul").hide();
            });
        }
        $("#autocomplete_input").keyup(function(){
            var value = $(this).val();
            if(value.length<2) $("#autocomplete_ul").hide();
            else
            {
                var patterns = get_patterns(value);

                $("#autocomplete_ul").show();

                for(var i=0; i < lis.length; i++)
                {
                    var html = matches($(lis[i]).attr("hash"),patterns,$(lis[i]).text());
                    if(html===false) $(lis[i]).hide();
                    else
                    {
                        $(lis[i]).html(html);
                        $(lis[i]).show();
                    }
                }
            }
        });
        $("#autocomplete_input").keypress(function(e){
            if(e.which == 13)
            {
                e.preventDefault();
                if(other_school)
                {
                    var value = $(this).val();
                    $("#actual_input").val(value);
                    $("#chosen_school span").text(value);
                    $("#chosen_school").css("display","flex");
                    $(this).val("");
                    $("#autocomplete_ul").hide();
                }
            }
        });
        $(document).click(function(){
            $("#autocomplete_ul").hide();
        });
    });

    get_patterns = function(value)
    {
        value = value.replace(/[.,\/]/g,"");
        value = value.replace(/\s\s+/g," ");
        var parts = value.split(" ");
        var patterns = [];
        for (var i=0; i < parts.length; i++)
        {
            patterns.push({hash: new RegExp("("+diaoff(parts[i])+")","i"), text: new RegExp("("+parts[i]+")","i")});
        }
        return patterns;
    }

    matches = function(hash,patterns,text)
    {
        var html = text;
        for(var i=0; i < patterns.length; i++)
        {
            if(patterns[i].hash.test(hash)) html = html.replace(patterns[i].text,"<b>$1</b>");
            else return false;
        }
        return html;
    }

    diaoff = function(str)
    {
        str = str.replace("Á","A");
        str = str.replace("Č","C");
        str = str.replace("Ď","D");
        str = str.replace("É","E");
        str = str.replace("Ě","E");
        str = str.replace("Í","I");
        str = str.replace("Ň","N");
        str = str.replace("Ó","O");
        str = str.replace("Ř","R");
        str = str.replace("Š","S");
        str = str.replace("Ť","T");
        str = str.replace("Ú","U");
        str = str.replace("Ů","U");
        str = str.replace("Ý","Y");
        str = str.replace("Ž","Z");
        str = str.replace("á","a");
        str = str.replace("č","c");
        str = str.replace("ď","d");
        str = str.replace("é","e");
        str = str.replace("ě","e");
        str = str.replace("í","i");
        str = str.replace("ň","n");
        str = str.replace("ó","o");
        str = str.replace("ř","r");
        str = str.replace("š","s");
        str = str.replace("ť","t");
        str = str.replace("ú","u");
        str = str.replace("ů","u");
        str = str.replace("ý","y");
        str = str.replace("ž","z");
        return str;
    }
</script>