<label class="cursor-pointer label my-2">
    <span class="label-text text-left w-10/12 font-medium">{{widget.attrs.label}}</span>
    <input id="checkbox-specify-{{ widget.attrs.bind_id }}" type="checkbox" name="{{widget.name}}" class="checkbox checkbox-primary" onclick="cmp.trigger_checkbox_specify('{{widget.attrs.bind_id}}','{{widget.attrs.condition}}')" {% if widget.attrs.checked %} checked {% endif %}>
</label>
<script>
    $(document).ready(function(){
        cmp.trigger_checkbox_specify('{{widget.attrs.bind_id}}','{{widget.attrs.condition}}');
    });
</script>